
@import "partials/base";

/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 */
 
 .region-header {
   .block {
     float: left;
   }
 }

.node-content {
  .field-name-field-image figure {
    display: block;
  }
}

#block-views-slides-block {
  width: 50%;
}

#block-views-action-buttons-block {
  width: 30%;
}

#block-system-navigation {
  width: 20%;
  height: 24.9em;
}

.front {
  #main-content {
    article {
      width: 50%;
      float: left;
      
      &.node-sticky {
        width: 100%;
      }
      
      &.odd {
        clear: both;
      }
    }
  }
}