.region-header {
  .block {
    float: left;
  }
}

.node-content {
  .field-name-field-image figure {
    display: block;
  }
}

#block-views-slides-block {
  width: 60%;
}

#block-views-action-buttons-block {
  width: 40%;
}