.region-header {
  .block {
    float: left;
  }
}

.node-content {
  figure {
    display: block;
  }
}

#block-views-slider-slides-block {
  width: 60%;
}

#block-views-action-buttons-action-buttons {
  width: 40%;
}