html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*@include font-face("Aller Light", inline-font-files('../fonts/Aller_Lt.ttf', truetype));
@include font-face("Aller Regular", inline-font-files('../fonts/Aller_Rg.ttf', truetype));
@include font-face("Aller Regular Bold", inline-font-files('../fonts/Aller_Bd.ttf', truetype));
@include font-face("Aller Regular Italic", inline-font-files('../fonts/Aller_It.ttf', truetype));
*/
body {
  font-family: "Aller Light", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  /* Set base font size to 10px so we could work with em without math hassl 
     see http://css-tricks.com/css-font-size/ for further information. */
  font-size: 62.5%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
  padding: 0.2em 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2.2em;
}

article h1,
.pane-content h1 {
  font-size: 2.4em;
}
article h2,
.pane-content h2 {
  font-size: 2.2em;
}
article h3,
.pane-content h3 {
  font-size: 2em;
}
article h4,
.pane-content h4 {
  font-size: 1.8em;
}
article h5,
.pane-content h5 {
  font-size: 1.6em;
}
article h6,
.pane-content h6 {
  font-size: 1.4em;
}
article p,
.pane-content p {
  font-size: 1.4em;
  margin: 0 0 0.75em;
}
article acronym,
.pane-content acronym {
  border-bottom: 0.1em dotted #d8d8d8;
}
article blockquote, article q,
.pane-content blockquote,
.pane-content q {
  font-style: italic;
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
article blockquote p, article q p,
.pane-content blockquote p,
.pane-content q p {
  margin: 0;
}
article cite,
.pane-content cite {
  font-style: italic;
}
article em, article i,
.pane-content em,
.pane-content i {
  font-style: italic;
}
article strong, article b,
.pane-content strong,
.pane-content b {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
}
article sup, article sub,
.pane-content sup,
.pane-content sub {
  line-height: 0;
  font-size: 0.7em;
}
article sup,
.pane-content sup {
  vertical-align: text-top;
}
article sub,
.pane-content sub {
  vertical-align: text-bottom;
}
article ul, article ol,
.pane-content ul,
.pane-content ol {
  margin: 0 0 1em 1.5em;
  padding: 0;
  font-size: 1.4em;
}
article ul ul, article ul ol, article ol ul, article ol ol,
.pane-content ul ul,
.pane-content ul ol,
.pane-content ol ul,
.pane-content ol ol {
  font-size: 1em;
  margin-bottom: 0;
}
article ul,
.pane-content ul {
  list-style-type: disc;
}
article ol,
.pane-content ol {
  list-style-type: decimal;
}
article dl,
.pane-content dl {
  font-size: 1.4em;
}
article dt,
.pane-content dt {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
}
article dd,
.pane-content dd {
  margin: 0 0 1.5em 1.75em;
}
article table,
.pane-content table {
  font-size: 1.4em;
}
article table th, article table caption,
.pane-content table th,
.pane-content table caption {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
}

#block-views-action-buttons-block,
.node-type-action-button #content {
  width: 340px;
  width: 100%;
  background: url("images/action_button/promobg.png");
}
#block-views-action-buttons-block aside.node-action-button,
.node-type-action-button #content aside.node-action-button {
  width: 340px;
  width: 100%;
  margin: 0;
  height: 8.3em;
  background: url("images/action_button/buttonbg.png") right no-repeat;
  overflow: hidden;
  *zoom: 1;
  font-family: "Aller Light", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
}
#block-views-action-buttons-block aside.node-action-button .title-subtitle,
#block-views-action-buttons-block aside.node-action-button .field,
.node-type-action-button #content aside.node-action-button .title-subtitle,
.node-type-action-button #content aside.node-action-button .field {
  float: left;
}
#block-views-action-buttons-block aside.node-action-button .node-title,
.node-type-action-button #content aside.node-action-button .node-title {
  color: white;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.125em;
  margin-top: 1em;
  line-height: 1.4em;
  text-shadow: #ffcc66 0 0 5px, #ffcc66 0 0 5px, #ffcc66 0 0 8px;
}
#block-views-action-buttons-block aside.node-action-button .field-name-field-subtitle,
.node-type-action-button #content aside.node-action-button .field-name-field-subtitle {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #863303;
}

.node-type-action-button #content {
  width: 36em;
}

footer.submitted {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  line-height: 1.1;
}
footer.submitted .username {
  display: none;
}
footer.submitted .comment_count {
  position: relative;
  left: -16px;
  float: left;
  background: #cd0046;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 0.2em;
}
footer.submitted time.icon {
  position: relative;
  float: left;
  margin: 0.4em 0.8em 0.5em -0.4em;
  width: 3em;
}
footer.submitted time.icon span.month {
  background: #f9b200;
  background: #f08a00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f08a00), color-stop(100%, #febf01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f08a00 0%, #febf01 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08a00', endColorstr='#febf01',GradientType=0 );
  /* IE6-9 */
  text-shadow: 0em 0em 0.4em #bbb;
  filter: dropshadow(color=#b0b0b0, offx=1, offy=1);
  text-align: center;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 3.75em;
  font-weight: bold;
  display: inline-block;
}
footer.submitted time.icon span.day {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 2em;
  font-weight: bold;
  border-right: thin solid #febf01;
  border-left: thin solid #febf01;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer.submitted time.icon span.year {
  display: block;
  text-align: center;
  line-height: 1.4em;
  font-size: 0.6em;
  font-weight: bold;
  width: 5em;
  border: thin solid #febf01;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#block-views-slides-block {
  width: 100%;
}

#views_slideshow_cycle_teaser_section_slides-block {
  width: 100%;
  height: 24.9em;
  float: left;
  overflow: hidden;
}
#views_slideshow_cycle_teaser_section_slides-block .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
#views_slideshow_cycle_teaser_section_slides-block .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto !important;
}
#views_slideshow_cycle_teaser_section_slides-block .views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
#views_slideshow_cycle_teaser_section_slides-block .views_slideshow_cycle_main .field-content img {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  margin: 0;
  padding: 0;
}
#views_slideshow_cycle_teaser_section_slides-block .views-field-field-slider-text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #000;
  height: 7em;
  position: relative;
  top: -9.3em;
  padding: 1em;
  padding-left: 5em;
}
#views_slideshow_cycle_teaser_section_slides-block a {
  line-height: 1;
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  color: #fff;
  text-decoration: none;
}
#views_slideshow_cycle_teaser_section_slides-block a h1, #views_slideshow_cycle_teaser_section_slides-block a h2 {
  font-weight: bold;
  text-shadow: 0.3em 0.3em 0.7em #111;
}
#views_slideshow_cycle_teaser_section_slides-block a h1 {
  font-size: 2em;
  margin: 0.2em 0;
}
#views_slideshow_cycle_teaser_section_slides-block a h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffdc00;
}
#views_slideshow_cycle_teaser_section_slides-block a p {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 0;
}

#primary-menu-bar ul.menu,
#secondary-menu-bar ul.menu {
  padding: 1em;
}
#primary-menu-bar ul.menu li,
#secondary-menu-bar ul.menu li {
  float: left;
}

#columns .content-inner,
#columns .region-inner {
  padding: 1.6em;
}
#columns .region-highlighted {
  margin-bottom: 1.6em;
}
#columns .region-highlighted .region-inner {
  background: #fdefcc;
  margin: -1.6em;
}

.node-content {
  padding: 1.5em 0 0.5em;
}
.node-content .field-name-field-image figure {
  margin-right: 0.5em;
  display: none;
}

article.node {
  margin: 0.6em 0;
}

#block-system-navigation {
  width: 100%;
  background: #053b73;
  color: #fff;
}
#block-system-navigation .block-inner {
  padding: 1em;
}
#block-system-navigation a {
  color: #fff;
}

#primary-menu-bar {
  width: 100%;
  background: #e95e0f;
}

#secondary-menu-bar {
  width: 100%;
  background: #ffdc00;
}

.node-type-group-cometee .view-og-members ol, .node-type-group-cometee .view-og-members ul {
  list-style: none;
  margin: 0;
}
.node-type-group-cometee .view-og-members .views-row {
  float: left;
  margin: 1em;
}
.node-type-group-cometee .view-og-members .views-field-name {
  text-align: center;
}

div.field-name-field-gallery,
section.field-name-field-gallery {
  float: none !important;
  overflow: hidden;
  *zoom: 1;
}
div.field-name-field-gallery figure,
section.field-name-field-gallery figure {
  float: left;
  width: 25em;
  height: 25em;
  text-align: center;
}
div.field-name-field-gallery figure img,
section.field-name-field-gallery figure img {
  margin: 0 auto;
}

body {
  background-color: #f9b200;
}

/*#block-views-slider-block {
  display: none;
}*/
#columns {
  background: white;
}

#logo img {
  max-width: 100%;
}
