/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html body.admin-menu {
  background-position: 0 29px;
}
