@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*@include font-face("Aller Light", inline-font-files('../fonts/Aller_Lt.ttf', truetype));
@include font-face("Aller Regular", inline-font-files('../fonts/Aller_Rg.ttf', truetype));
@include font-face("Aller Regular Bold", inline-font-files('../fonts/Aller_Bd.ttf', truetype));
@include font-face("Aller Regular Italic", inline-font-files('../fonts/Aller_It.ttf', truetype));
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000312}}
body {
  font-family: "Aller Light", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  /* Set base font size to 10px so we could work with em without math hassl 
     see http://css-tricks.com/css-font-size/ for further information. */
  font-size: 62.5%;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000320}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000326}}
h1 {
  font-size: 2.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000330}}
h2 {
  font-size: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000334}}
h3 {
  font-size: 2.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000340}}
article h1,
.pane-content h1 {
  font-size: 2.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000344}}
article h2,
.pane-content h2 {
  font-size: 2.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000348}}
article h3,
.pane-content h3 {
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000352}}
article h4,
.pane-content h4 {
  font-size: 1.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000356}}
article h5,
.pane-content h5 {
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000360}}
article h6,
.pane-content h6 {
  font-size: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000364}}
article p,
.pane-content p {
  font-size: 1.4em;
  margin: 0 0 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000369}}
article acronym,
.pane-content acronym {
  border-bottom: 0.1em dotted #d8d8d8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000373}}
article blockquote, article q,
.pane-content blockquote,
.pane-content q {
  font-style: italic;
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000378}}
article blockquote p, article q p,
.pane-content blockquote p,
.pane-content q p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000383}}
article cite,
.pane-content cite {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000387}}
article em, article i,
.pane-content em,
.pane-content i {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000391}}
article strong, article b,
.pane-content strong,
.pane-content b {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\0000396}}
article sup, article sub,
.pane-content sup,
.pane-content sub {
  line-height: 0;
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003101}}
article sup,
.pane-content sup {
  vertical-align: text-top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003105}}
article sub,
.pane-content sub {
  vertical-align: text-bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003109}}
article ul, article ol,
.pane-content ul,
.pane-content ol {
  margin: 0 0 1em 1.5em;
  padding: 0;
  font-size: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003114}}
article ul ul, article ul ol, article ol ul, article ol ol,
.pane-content ul ul,
.pane-content ul ol,
.pane-content ol ul,
.pane-content ol ol {
  font-size: 1em;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003120}}
article ul,
.pane-content ul {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003124}}
article ol,
.pane-content ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003128}}
article dl,
.pane-content dl {
  font-size: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003132}}
article dt,
.pane-content dt {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003137}}
article dd,
.pane-content dd {
  margin: 0 0 1.5em 1.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003141}}
article table,
.pane-content table {
  font-size: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_typography\.scss}line{font-family:\00003143}}
article table th, article table caption,
.pane-content table th,
.pane-content table caption {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\000034}}
#block-views-action-buttons-block,
.node-type-action-button #content {
  width: 340px;
  width: 100%;
  background: url("images/action_button/promobg.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\000039}}
#block-views-action-buttons-block aside.node-action-button,
.node-type-action-button #content aside.node-action-button {
  width: 340px;
  width: 100%;
  margin: 0;
  height: 8.3em;
  background: url("images/action_button/buttonbg.png") right no-repeat;
  overflow: hidden;
  *zoom: 1;
  font-family: "Aller Light", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\0000320}}
#block-views-action-buttons-block aside.node-action-button .title-subtitle,
#block-views-action-buttons-block aside.node-action-button .field,
.node-type-action-button #content aside.node-action-button .title-subtitle,
.node-type-action-button #content aside.node-action-button .field {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\0000324}}
#block-views-action-buttons-block aside.node-action-button .node-title,
.node-type-action-button #content aside.node-action-button .node-title {
  color: white;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 0.125em;
  margin-top: 1em;
  line-height: 1.4em;
  text-shadow: #ffcc66 0 0 5px, #ffcc66 0 0 5px, #ffcc66 0 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\0000334}}
#block-views-action-buttons-block aside.node-action-button .field-name-field-subtitle,
.node-type-action-button #content aside.node-action-button .field-name-field-subtitle {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #863303;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_action_buttons\.scss}line{font-family:\0000342}}
.node-type-action-button #content {
  width: 36em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\000033}}
footer.submitted {
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  line-height: 1.1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\000037}}
footer.submitted .username {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000310}}
footer.submitted .comment_count {
  position: relative;
  left: -16px;
  float: left;
  background: #cd0046;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000323}}
footer.submitted time.icon {
  position: relative;
  float: left;
  margin: 0.4em 0.8em 0.5em -0.4em;
  background: url(images/event-orange.png) no-repeat;
  width: 39px;
  height: 56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000330}}
footer.submitted time.icon span {
  display: block;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000334}}
footer.submitted time.icon span.month {
  font-size: 12px;
  line-height: 1.5em;
  color: #fff;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000341}}
footer.submitted time.icon span.day {
  font-weight: bold;
  font-size: 22px;
  margin-top: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_node_icon\.scss}line{font-family:\0000347}}
footer.submitted time.icon span.year {
  font-size: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\000033}}
#block-views-slides-block {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\000037}}
#views_slideshow_cycle_teaser_section_slides-block {
  width: 100%;
  height: 24.9em;
  float: left;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000315}}
#views_slideshow_cycle_teaser_section_slides-block .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000319}}
#views_slideshow_cycle_teaser_section_slides-block .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000324}}
#views_slideshow_cycle_teaser_section_slides-block .views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000327}}
#views_slideshow_cycle_teaser_section_slides-block .views_slideshow_cycle_main .field-content img {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000337}}
#views_slideshow_cycle_teaser_section_slides-block .views-field-field-slider-text {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: #000;
  height: 7em;
  position: relative;
  top: -9.3em;
  padding: 1em;
  padding-left: 5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000347}}
#views_slideshow_cycle_teaser_section_slides-block a {
  line-height: 1;
  font-family: "Aller Regular", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Geneva, sans-serif;
  color: #fff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000354}}
#views_slideshow_cycle_teaser_section_slides-block a h1, #views_slideshow_cycle_teaser_section_slides-block a h2 {
  font-weight: bold;
  text-shadow: 0.3em 0.3em 0.7em #111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000359}}
#views_slideshow_cycle_teaser_section_slides-block a h1 {
  font-size: 2em;
  margin: 0.2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000364}}
#views_slideshow_cycle_teaser_section_slides-block a h2 {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffdc00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_slider\.scss}line{font-family:\0000370}}
#views_slideshow_cycle_teaser_section_slides-block a p {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_navigation\.scss}line{font-family:\000035}}
#primary-menu-bar ul.menu,
#secondary-menu-bar ul.menu {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_navigation\.scss}line{font-family:\000037}}
#primary-menu-bar ul.menu li,
#secondary-menu-bar ul.menu li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\000035}}
#columns .content-inner,
#columns .region-inner {
  padding: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\000039}}
#columns .region-highlighted {
  margin-bottom: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000312}}
#columns .region-highlighted .region-inner {
  background: #fdefcc;
  margin: -1.6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000319}}
.node-content {
  padding: 1.5em 0 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000322}}
.node-content .field-name-field-image figure {
  margin-right: 0.5em;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000328}}
article.node {
  margin: 0.6em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000336}}
#block-system-navigation {
  width: 100%;
  background: #053b73;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000340}}
#block-system-navigation .block-inner {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000343}}
#block-system-navigation a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000348}}
#primary-menu-bar {
  width: 100%;
  background: #e95e0f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000353}}
#secondary-menu-bar {
  width: 100%;
  background: #ffdc00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000360}}
.node-type-group-cometee .view-og-members ol, .node-type-group-cometee .view-og-members ul {
  list-style: none;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000364}}
.node-type-group-cometee .view-og-members .views-row {
  float: left;
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_content\.scss}line{font-family:\0000368}}
.node-type-group-cometee .view-og-members .views-field-name {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_gallery\.scss}line{font-family:\000035}}
div.field-name-field-gallery,
section.field-name-field-gallery {
  float: none !important;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_gallery\.scss}line{font-family:\000039}}
div.field-name-field-gallery figure,
section.field-name-field-gallery figure {
  float: left;
  width: 25em;
  height: 25em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/partials\/_gallery\.scss}line{font-family:\0000315}}
div.field-name-field-gallery figure img,
section.field-name-field-gallery figure img {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/globals\.scss}line{font-family:\0000311}}
body {
  background-color: #f9b200;
}

/*#block-views-slider-block {
  display: none;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/globals\.scss}line{font-family:\0000319}}
#columns {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/globals\.scss}line{font-family:\0000324}}
#logo img {
  max-width: 100%;
}
