@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000032}}
.region-header .block {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000038}}
.node-content .field-name-field-image figure {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000313}}
#block-views-slider-slides-block {
  width: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000317}}
#block-views-action-buttons-action-buttons {
  width: 40%;
}
