@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\000031}}
html {
  font-family: tablet_portrait;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\000034}}
.region-tertiary-content .block {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\000039}}
#block-views-slider-block {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000313}}
#block-views-action-buttons-block {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000317}}
#block-system-navigation {
  width: 50%;
  height: 24.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000324}}
#primary-menu-bar,
#secondary-menu-bar {
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000328}}
#primary-menu-bar ul.menu li,
#secondary-menu-bar ul.menu li {
  float: none;
}
