@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000032}}
.region-header .block {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\000037}}
#block-views-slider-block {
  width: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/christian\/Development\/pps_d7\/sites\/all\/themes\/pps_default\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000311}}
#block-views-action-buttons-block {
  width: 40%;
}
