@import "base";
@import "compass/typography";

@include establish-baseline;

body {
  font-family: $font-family-default;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

#{headings()} {
  font-weight: 600;
}

h1 {}


h2 {}


h3 {}


h4 {}


h5 {}


h6 {}


p {}


b,
strong {}


i,
em {}


dfn {}


sup {}


sub {}


del {}


ins {}


blockquote {}


cite {}


q {}


address {}


ul {}


ol {}


li {}


dl {}


dd {}


dt {}


abbr {}


acronym {}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $font-family-monospace;
}


/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  @include link-colors($color-link-normal, $color-link-highlight, $color-link-highlight, $color-link-normal, $color-link-highlight);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#{headings()} {
  a {
    @include link-colors(inherit, $color-link-highlight, $color-link-highlight, inherit, $color-link-highlight);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
