// ---------------------------------------------------------------------
// Base colors
// ---------------------------------------------------------------------

//Base
$color-base-yellow: rgb(255,220,0);
$color-base-orange: rgb(249,178,0);
$color-base-pale-red: rgb(233,94,15);
$color-base-deep-red: rgb(205,0,70);
$color-base-purple: rgb(5,59,115);
$color-base-blue: rgb(52,116,82);

// Gradients
$color-gradient-orange-light: rgb(253,195,0);
$color-gradient-orange-center: rgb(249,178,0);
$color-gradient-orange-dark: rgb(240,138,0);
$color-gradient-orange-border: rgb(232,121,0);

// Links
$color-link-normal: rgb(143, 143, 143);
$color-link-highlight: rgb(196, 143, 87);

// Page

$color-page-background: rgb(238, 181, 12);

// Content
$color-content-background: #fff;

// ---------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------

$font-family-default: 'Titillium', Arial, sans-serif;

// ---------------------------------------------------------------------
// Dimensions
// ---------------------------------------------------------------------

// Base
$dim-padding: 0.4em;

// Menu
$dim-home-icon: 23px;
$dim-menu-icon-width: 60px;
$dim-menu-icon-height: 55px;
$dim-menu-spacing: 0.6em;

//
// Gutters
//
// Set a variable for the gutters. Adaptivetheme allows you to easly modify the
// global gutter width for precise control over the design. Panel pages need
// special gutter wrangling when a Panel is inside #content wrapper, so to ease
// setting this we use a variable.
//
$gutter-width: 1em;

// ---------------------------------------------------------------------
// Blocks and Panels
// ---------------------------------------------------------------------

// Colors
$color-block-title-font: rgb(158, 158, 158);
$color-block-title-border-neutral: #e1e1e1;
$color-block-title-border-colored: #f2eadf;
$color-block-title-gradient-neutral-light: #f5f6f4;
$color-block-title-gradient-neutral-dark: #e6e6e6;
$color-block-title-gradient-colored-light: #faf5ea;
$color-block-title-gradient-colored-dark: #f5ecd6;
$color-block-background-neutral: transparent;
$color-block-background-colored: #fbf8f2;

// Dimensions
$dim-block-title: $dim-padding*1.5 $dim-padding $dim-padding*0.5;
$dim-block-content: $dim-padding $dim-padding $dim-padding*3;
