@import "base";

@import "reset";

@import "fonts/all";
@import "typography";

body {
  background: image-url("backgrounds/header.jpg") repeat-x scroll center top  $color-page-background;
}

#content-column {
  background-color: $color-content-background;
}

#columns {
  margin-bottom: 2em;
  @include single-box-shadow($color-gradient-orange-border);
}

@import "misc/all";
@import "regions/all";
@import "content/all";
@import "site_elements/all";
@import "modules/all";
