@import "partials/base";

$color-megamenu-border-light: rgba(255, 255, 255, 0.2);
$color-megamenu-border-dark: rgba(219, 50, 0, 0.2);
$color-megamenu-border-fix: rgb(234, 126, 0);



$color-megamenu-background-default: rgb(234, 126, 0);
$color-megamenu-background-hover: white;
$color-megamenu-foreground-default: white;
$color-megamenu-foreground-hover: rgb(234, 126, 0);

$size-megamenu-border-thikness: 1px;

.megamenu-skin-pps {
  background: $color-megamenu-background-default;
  font-size: 14px;

  .megamenu-parent {
    margin: 0;
    padding: 1em 1em 0;
    display: inline-block;
    border-right: $size-megamenu-border-thikness solid $color-megamenu-border-dark;
    @include box-shadow($size-megamenu-border-thikness 0 0 $color-megamenu-border-light);
  }

  .megamenu-parent-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 1em;
    display: inline-block;
    a {
      text-decoration:none;
      color: $color-megamenu-foreground-default;
    }
  }

  .hovering {
    background: $color-megamenu-background-hover;
    .megamenu-parent-title {
      a {
        text-decoration:none;
        color: $color-megamenu-foreground-hover;
      }
    }
  }

  .megamenu-bin {
    padding: 1em;
    @include box-shadow(
        $size-megamenu-border-thikness $size-megamenu-border-thikness $size-megamenu-border-thikness $color-megamenu-border-fix,
        -$size-megamenu-border-thikness 0 0 $color-megamenu-border-fix,
        -$size-megamenu-border-thikness $size-megamenu-border-thikness 0 $color-megamenu-border-fix);
    background: $color-megamenu-background-hover;
    border: $size-megamenu-border-thikness solid $color-megamenu-border-light;
    border-top: none;
  }

  .megamenu-slot-title{
    margin-bottom: 1em;
    a {
      text-decoration:none;
      font-weight: bold;
      color: $color-megamenu-foreground-hover;
    }
  }

  .megamenu-slot {
    width: 20em;
  }

  .megamenu-item {
    &:before {
      content: '‣ ';
    }
  }

  // Home button
  .megamenu-parent-0 {
    padding-top: 0;
    .megamenu-parent-title {
      padding: 0;
      margin-top: 10px;
      width: 23px;
      height: 23px;
      background: url(../images/megamenu/home.png) no-repeat top;
      &:hover {
        background-position: bottom;
      }
      a, a.active, a:hover, &.hovering {
        color: transparent;
        display: block;
      }
    }
  }
}