@import "base";

// ---------------------------------------------------------------------
// Alter column width on front page
// ---------------------------------------------------------------------

.front {
  .two-brick > .panel-row > .region, .two-50 > .region {
    &.region-two-brick-left-above {
      width: 66.666665%;
    }
    &.region-two-brick-right-above {
      width: 33.333333%;
    }
    &.region-two-brick-left-below {
      width: 40%;
    }
    &.region-two-brick-right-below {
      width: 60%;
    }
  }
}

// ---------------------------------------------------------------------
// Alter column width on page latest
// ---------------------------------------------------------------------

.page-latest {
  .two-brick > .panel-row > .region, .two-50 > .region {
    &.region-two-brick-left-above {
      width: 66.666665%;
    }
    &.region-two-brick-right-above {
      width: 33.333333%;
    }
  }
}