#branding {
  margin: 2em 0;
  position: relative;
}

#logo {
  float: left;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan {
  float: left;
  margin-left: 3em;
}

#site-name {
  @include element-invisible;
}

#page-title {
  @include element-invisible;
}

#site-slogan {
  position: absolute;
  bottom: 2px;
  margin: 0;
  font-size: 18px; // Needs to be in px to match the logo text.
}