body {
  overflow-x: hidden;
}

.region-leaderboard {
  margin: 0 -9999px;
  background-color: rgb(76, 70, 66);
  border-bottom: 1px solid rgb(71, 64, 60);
  color: rgb(204, 204, 204);

  .block {
    margin: 0;

    .block-title {
      @include element-invisible;
    }

    .block-inner {
      margin: 0;
      padding: $dim-padding;
    }
  }

  .menu {
    @include horizontal-list;
  }

  .item-list {
    @include horizontal-list;
  }

  .block-menu-interlinks {
    float: left;
  }

  .block-language {
    float: right;
    .language-switcher-locale-url {
      @include horizontal-list;
    }
  }
}