// http://www.stylifyyourblog.com/2012/08/5-css3-breadcrumb-designs.html

#crumbs {
  zoom: 1;
  line-height: 40px;
  height: 40px;
  background-color: #FFF;
  background-image: linear-gradient(tobottom, #FFF, #EEE);
  letter-spacing: 2px;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1
  }

  &:after {
    clear: both
  }

  .crumb {
    color: #999;
    &:hover {
      text-decoration: none !important
    }
  }

  > .crumb {
    position: relative;
    height: 40px;
    overflow: hidden;
    float: left;
    padding: 0 40px 0 20px;

    &:after {
      content: '';
      position: absolute;
      right: 8px;
      top: -1px;
      height: 40px;
      width: 40px;
      border-right: 3px rgba(0, 0, 0, 0.1) solid;
      border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    &:before {
      content: '';
      position: absolute;
      right: 11px;
      top: 0;
      height: 40px;
      width: 40px;
      border-right: 1px rgba(0, 0, 0, 0.2) solid;
      border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    &:hover {
      &:after {
        border-color: rgba(0, 0, 0, 0.2)
      }

      &:before {
        border-color: rgba(0, 0, 0, 0.3)
      }
    }
  }

  :last-child {
    color: #333
  }

  a {
    margin-top: 1px;
    color: #999;

    &:before,
    &:after {
      display: none
    }
  }
}
