@import "../base";
@import "compass/css3/box-shadow";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("images/header_background.jpg") repeat-x scroll center top  $color-page-background;
}

#branding {
  margin-bottom: 2em;
}

#logo {
  float: left;
}

#name-and-slogan {
  float: left;
  margin-left: 1em;
}

#name-and-slogan h1 {
  @include element-invisible;
}

#page-title {
  @include element-invisible;
}

#content-column {
  background-color: $color-content-background;
}

#columns {
  @include single-box-shadow($color-gradient-orange-border);
}

.region-tertiary-content {
  clear: both;
  @include background-image(linear-gradient(
    top,
    $color-gradient-orange-dark,
    $color-gradient-orange-center  75%,
    $color-gradient-orange-light
  ));
  border-top: 0.1em solid $color-gradient-orange-border;
}

#footer {
  background: url("images/footer_background.jpg") repeat-x scroll center bottom transparent;
}
