@import "../base";
@import "compass/css3/box-shadow";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: image-url("backgrounds/header.jpg") repeat-x scroll center top  $color-page-background;
}

#branding {
  margin: 2em 0;
  position: relative;
}

#logo {
  float: left;
}

#name-and-slogan {
  float: left;
  margin-left: 3em;
}

#site-name {
  @include element-invisible;
}

#page-title {
  @include element-invisible;
}

#site-slogan {
  position: absolute;
  bottom: 0.4em;
  margin: 0;
}

#content-column {
  background-color: $color-content-background;
}

#columns {
  margin-bottom: 2em;
  @include single-box-shadow($color-gradient-orange-border);
}

.region-leaderboard {
  margin: 0 -9000px;
  padding: 0 9000px;
  background-color: rgb(76, 70, 66);
  border-bottom: 1px solid rgb(71, 64, 60);
  color: rgb(204, 204, 204);

  .block-content {
    padding: $dim-padding;
  }
}

.region-tertiary-content {
  clear: both;
  @include background-image(linear-gradient(
    top,
    $color-gradient-orange-dark,
    $color-gradient-orange-center  75%,
    $color-gradient-orange-light
  ));
  border-top: 0.1em solid $color-gradient-orange-border;
}

#footer {
  background: image-url("backgrounds/footer.jpg") repeat-x scroll center bottom transparent;
}
