@font-face {
  font-family: 'pps-icon';
  src: font-url('pps-icon/fonts/pps-icon.eot');
  src: font-url('pps-icon/fonts/pps-icon.eot?#iefix') format('embedded-opentype'),
  font-url('pps-icon/fonts/pps-icon.woff') format('woff'),
  font-url('pps-icon/fonts/pps-icon.ttf') format('truetype'),
  font-url('pps-icon/fonts/pps-icon.svg#pps-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
