html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L001-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L001-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L001-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L001-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L001-webfont.svg#TitilliumText25L800wt') format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L002-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L002-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L002-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L002-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L002-webfont.svg#TitilliumText25L600wt') format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L002-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L002-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L002-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L002-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L002-webfont.svg#TitilliumText25L600wt') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L003-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L003-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L003-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L003-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L003-webfont.svg#TitilliumText25L400wt') format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L003-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L003-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L003-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L003-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L003-webfont.svg#TitilliumText25L400wt') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L004-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L004-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L004-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L004-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L004-webfont.svg#TitilliumText25L250wt') format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-text/TitilliumText25L1wt';
  src: url('../fonts/titillium-text/TitilliumText25L005-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L005-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L005-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L005-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L005-webfont.svg#TitilliumText25L1wt') format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumText25L-webfont.eot');
  src: url('../fonts/titillium-text/TitilliumText25L-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/titillium-text/TitilliumText25L-webfont.woff') format("woff"), url('../fonts/titillium-text/TitilliumText25L-webfont.ttf') format("truetype"), url('../fonts/titillium-text/TitilliumText25L-webfont.svg#TitilliumText25L999wt') format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-800wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-800wt1000sl.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-600wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-600wt1000sl.ttf') format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-600wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-600wt1000sl.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-400wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-400wt1000sl.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-400wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-400wt1000sl.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-250wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-250wt1000sl.ttf') format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-1wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-1wt1000sl.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-999wt1000sl.eot');
  src: url('../fonts/titillium-text/TitilliumtextItalic64PS-999wt1000sl.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'pps-icon';
  src: url('../fonts/pps-icon/fonts/pps-icon.eot');
  src: url('../fonts/pps-icon/fonts/pps-icon.eot?#iefix') format("embedded-opentype"), url('../fonts/pps-icon/fonts/pps-icon.woff') format("woff"), url('../fonts/pps-icon/fonts/pps-icon.ttf') format("truetype"), url('../fonts/pps-icon/fonts/pps-icon.svg#pps-icon') format("svg");
  font-weight: normal;
  font-style: normal;
}

* html {
  font-size: 93.75%;
}

html {
  font-size: 15px;
  line-height: 1.5em;
}

body {
  font-family: "Titillium", Arial, sans-serif;
}

/* =============================================================================
 *   Headings
 * ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: inherit;
}
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  color: #c48f57;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #c48f57;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #c48f57;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* =============================================================================
 *   Links
 * ========================================================================== */
a {
  color: #8f8f8f;
  text-decoration: none;
}
a:visited {
  color: #8f8f8f;
}
a:focus {
  color: #c48f57;
}
a:hover {
  color: #c48f57;
}
a:active {
  color: #c48f57;
}
a:hover {
  text-decoration: none;
}

body {
  background: url('../images/backgrounds/header.jpg?1356173758') repeat-x scroll center top #eeb50c;
}

#content-column {
  background-color: white;
}

#columns {
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 0px 5px #e87900;
  -moz-box-shadow: 0px 0px 5px #e87900;
  box-shadow: 0px 0px 5px #e87900;
}

#branding {
  margin: 2em 0;
  position: relative;
}

#logo {
  float: left;
}

#name-and-slogan {
  float: left;
  margin-left: 3em;
}

#site-name {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

#page-title {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

#site-slogan {
  position: absolute;
  bottom: 0.4em;
  margin: 0;
}

.region-leaderboard {
  margin: 0 -9000px;
  padding: 0 9000px;
  background-color: #4c4642;
  border-bottom: 1px solid #47403c;
  color: #cccccc;
}
.region-leaderboard .block-content {
  padding: 0.4em;
}

.primary-menu-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f08a00), color-stop(75%, #f9b200), color-stop(100%, #fdc300));
  background-image: -webkit-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: -moz-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: -o-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
}
.primary-menu-wrapper .primary-menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}
.primary-menu-wrapper .primary-menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.primary-menu-wrapper .primary-menu li {
  position: relative;
  margin: 0;
  border-right: 0.1em solid rgba(219, 50, 0, 0.2);
  -webkit-box-shadow: 0.1em 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0.1em 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0.1em 0 0 rgba(255, 255, 255, 0.2);
}
.primary-menu-wrapper .primary-menu li a {
  padding: 0 0.9em 0 0.6em;
  margin-left: 60px;
  display: inline-block;
  color: white;
  font-size: 16px;
  line-height: 55px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.primary-menu-wrapper .primary-menu li a:visited {
  color: white;
}
.primary-menu-wrapper .primary-menu li a:focus {
  color: #863303;
}
.primary-menu-wrapper .primary-menu li a:hover {
  color: #863303;
}
.primary-menu-wrapper .primary-menu li a:active {
  color: #863303;
}
.primary-menu-wrapper .primary-menu li a[class^="menu-icon-"]:before, .primary-menu-wrapper .primary-menu li a[class*=" menu-icon-"]:before {
  margin-left: 0.6em;
  content: '';
  height: 55px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/icons/menu.png?1356173758');
}
.primary-menu-wrapper .primary-menu li a.menu-icon-bottle:before {
  background-position: 120px 0;
}
.primary-menu-wrapper .primary-menu li a.menu-icon-compass:before {
  background-position: 240px 0;
}
.primary-menu-wrapper .primary-menu li a.menu-icon-hat:before {
  background-position: 60px 0;
}
.primary-menu-wrapper .primary-menu li a.menu-icon-telescope:before {
  background-position: 0 0;
}
.primary-menu-wrapper .primary-menu li a.menu-icon-helm:before {
  background-position: 180px 0;
}

#crumbs {
  zoom: 1;
  line-height: 40px;
  height: 40px;
  background-color: #FFF;
  background-image: linear-gradient(tobottom, #ffffff, #eeeeee);
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
#crumbs:before, #crumbs:after {
  display: table;
  content: "";
  zoom: 1;
}
#crumbs:after {
  clear: both;
}
#crumbs .crumb {
  color: #999;
}
#crumbs .crumb:hover {
  text-decoration: none !important;
}
#crumbs > .crumb {
  position: relative;
  height: 40px;
  overflow: hidden;
  float: left;
  padding: 0 40px 0 20px;
}
#crumbs > .crumb:after {
  content: '';
  position: absolute;
  right: 8px;
  top: -1px;
  height: 40px;
  width: 40px;
  border-right: 3px rgba(0, 0, 0, 0.1) solid;
  border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#crumbs > .crumb:before {
  content: '';
  position: absolute;
  right: 11px;
  top: 0;
  height: 40px;
  width: 40px;
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#crumbs > .crumb:hover:after {
  border-color: rgba(0, 0, 0, 0.2);
}
#crumbs > .crumb:hover:before {
  border-color: rgba(0, 0, 0, 0.3);
}
#crumbs :last-child {
  color: #333333;
}
#crumbs a {
  margin-top: 1px;
  color: #999;
}
#crumbs .crumb-first a {
  font-size: 1.4em;
  width: 1em;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 1;
}
#crumbs .crumb-first a:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00f";
}

.region-tertiary-content {
  clear: both;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f08a00), color-stop(75%, #f9b200), color-stop(100%, #fdc300));
  background-image: -webkit-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: -moz-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: -o-linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  background-image: linear-gradient(top, #f08a00, #f9b200 75%, #fdc300);
  border-top: 0.1em solid #e87900;
}

html, body {
  height: 100%;
}

#page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -124px;
}
#page #footer_placement {
  height: 124px;
}

#footer {
  clear: both;
  position: relative;
  height: 124px;
}

#footer {
  background: url('../images/backgrounds/footer.jpg?1356187546') repeat-x scroll center bottom transparent;
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */
.node {
  position: relative;
  margin-bottom: 20px;
}
.node.with-date-icon {
  padding-left: 3.5em;
}
.node time.icon {
  float: left;
  position: absolute;
  left: 0;
}
.node.node-teaser {
  border-bottom: 0.1em solid #efefef;
}
.node.node-teaser time.icon {
  top: 0.4em;
}
.node .node-title {
  font-size: 1.8em;
  margin: 0;
  line-height: 1.3em;
}
.node .field-name-field-tags {
  float: right;
}
.node .field-name-field-tags .field-items {
  list-style-type: none;
}
.node .field-name-field-tags .field-items, .node .field-name-field-tags .field-items li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.node .field-name-field-tags .field-items li:after {
  content: ", ";
}
.node .field-name-field-tags .field-items li:last-child:after {
  content: "";
}
.node .field-name-field-tags .field-items li.last:after {
  content: "";
}
.node .field-name-field-tags:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #8f8f8f;
  content: "\e023";
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;
}
#comments h2.comment-title {
  margin: 0;
}
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}

time.icon {
  width: 3em;
  display: inline-block;
}
time.icon span {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
time.icon span.month {
  background: #f9b200;
  background: #f08a00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f08a00), color-stop(100%, #febf01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f08a00 0%, #febf01 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08a00', endColorstr='#febf01',GradientType=0 );
  /* IE6-9 */
  text-shadow: 0em 0em 0.4em #bbb;
  filter: dropshadow(color=#b0b0b0, offx=1, offy=1);
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 3.75em;
}
time.icon span.day {
  font-size: 1.5em;
  line-height: 1.5em;
  width: 2em;
  border-right: thin solid #febf01;
  border-left: thin solid #febf01;
}
time.icon span.year {
  line-height: 1.4em;
  font-size: 0.6em;
  width: 5em;
  border: thin solid #febf01;
  border-top: none;
}

.block-content {
  padding: 0.4em 0.4em 1.2em;
}

.pane-panels-mini > .block-inner > .block-content {
  padding: 0;
}

.panel-display,
.panel-row {
  overflow: hidden;
}

.pane-title,
.block-title {
  padding: 0.6em 0.4em 0.2em;
  margin: 0;
}

.region-style-pps {
  height: 100%;
  padding-bottom: 9000em;
  margin-bottom: -9000em;
}
.region-style-pps.region-style-pps-neutral {
  background-color: transparent;
}
.region-style-pps.region-style-pps-neutral .pane-title,
.region-style-pps.region-style-pps-neutral .block-title {
  color: #9e9e9e;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e6e6e6), color-stop(100%, #f5f6f4));
  background-image: -webkit-linear-gradient(left, #e6e6e6, #f5f6f4);
  background-image: -moz-linear-gradient(left, #e6e6e6, #f5f6f4);
  background-image: -o-linear-gradient(left, #e6e6e6, #f5f6f4);
  background-image: linear-gradient(left, #e6e6e6, #f5f6f4);
  border-bottom: thin solid #e1e1e1;
  border-left: thin solid #e1e1e1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}
.region-style-pps.region-style-pps-colored {
  background-color: #fbf8f2;
}
.region-style-pps.region-style-pps-colored .pane-title,
.region-style-pps.region-style-pps-colored .block-title {
  color: #9e9e9e;
  background: #f5ecd6;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5ecd6), color-stop(100%, #faf5ea));
  background-image: -webkit-linear-gradient(left, #f5ecd6, #faf5ea);
  background-image: -moz-linear-gradient(left, #f5ecd6, #faf5ea);
  background-image: -o-linear-gradient(left, #f5ecd6, #faf5ea);
  background-image: linear-gradient(left, #f5ecd6, #faf5ea);
  border-bottom: thin solid #f2eadf;
  border-left: thin solid #f2eadf;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html body.admin-menu {
  background-position: 0 29px;
}

[data-icon]:before:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
}

.icon-comment:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

.icon-users:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e001";
}

.icon-user:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e002";
}

.icon-feed:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e003";
}

.icon-plus:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e004";
}

.icon-cross:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e005";
}

.icon-arrow-right:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e006";
}

.icon-arrow-left:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e007";
}

.icon-pencil:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e008";
}

.icon-search:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e009";
}

.icon-grid:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00a";
}

.icon-list:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00b";
}

.icon-star:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00c";
}

.icon-heart:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00d";
}

.icon-map-marker:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00e";
}

.icon-home:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e00f";
}

.icon-phone:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e010";
}

.icon-camera:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e011";
}

.icon-arrow-left-2:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e012";
}

.icon-arrow-right-2:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e013";
}

.icon-arrow-up:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e014";
}

.icon-arrow-down:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e015";
}

.icon-cog:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e016";
}

.icon-wrench:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e017";
}

.icon-bars:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e018";
}

.icon-chart:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e019";
}

.icon-stats:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01a";
}

.icon-eye:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01b";
}

.icon-zoom-out:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01c";
}

.icon-zoom-in:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01d";
}

.icon-export:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01e";
}

.icon-mail:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e01f";
}

.icon-delete:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e020";
}

.icon-thumbs-up:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e021";
}

.icon-thumbs-down:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e022";
}

.icon-tag:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e023";
}

.icon-warning:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e024";
}

.icon-unlocked:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e025";
}

.icon-locked:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e026";
}

.icon-cancel:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e027";
}

.icon-compass:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e028";
}

.icon-pin:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e029";
}

.icon-globe:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02a";
}

.icon-flag:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02b";
}

.icon-info:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02c";
}

.icon-question:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02d";
}

.icon-chat:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02e";
}

.icon-trashcan:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e02f";
}

.icon-expand:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e030";
}

.icon-electricity:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e031";
}

.icon-directions:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e032";
}

.icon-pencil-2:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e033";
}

.icon-minus:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e034";
}

.icon-equals:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e035";
}

.icon-list-2:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e036";
}

.icon-clock:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e037";
}

.icon-calendar:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e038";
}

.icon-sun:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e039";
}

.icon-download:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03a";
}

.icon-puzzle:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03b";
}

.icon-bookmark:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03c";
}

.icon-anchor:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03d";
}

.icon-checkmark:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03e";
}

.icon-pirate-flag:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e03f";
}

.icon-cc:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e040";
}

.icon-cc-by:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e041";
}

.icon-cc-sa:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e043";
}

.icon-cc-nd:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e045";
}

.icon-cc-nc-eu:before {
  font-family: 'pps-icon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\e042";
}
