body {
  font-size: 87.5%;
}

/* =============================================================================
 *   Headings
 * ========================================================================== */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: inherit;
}
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  color: #c48f57;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #c48f57;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  color: #c48f57;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* =============================================================================
 *   Links
 * ========================================================================== */
a {
  color: #8f8f8f;
  text-decoration: none;
}
a:visited {
  color: #8f8f8f;
}
a:focus {
  color: #c48f57;
}
a:hover {
  color: #c48f57;
}
a:active {
  color: #c48f57;
}
a:hover {
  text-decoration: none;
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */
.node {
  padding-left: 3.5em;
  position: relative;
  margin-bottom: 20px;
}
.node time.icon {
  float: left;
  position: absolute;
  left: 0;
}
.node.node-teaser {
  padding-left: 3.5em;
  position: relative;
  border-bottom: 0.1em solid #efefef;
}
.node.node-teaser time.icon {
  top: 0.4em;
}
.node .node-title {
  font-size: 1.8em;
  margin: 0;
  line-height: 1.3em;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;
}
#comments h2.comment-title {
  margin: 0;
}
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}

time.icon {
  width: 3em;
  display: inline-block;
}
time.icon span {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
time.icon span.month {
  background: #f9b200;
  background: #f08a00;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f08a00), color-stop(100%, #febf01));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f08a00 0%, #febf01 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f08a00 0%, #febf01 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08a00', endColorstr='#febf01',GradientType=0 );
  /* IE6-9 */
  text-shadow: 0em 0em 0.4em #bbb;
  filter: dropshadow(color=#b0b0b0, offx=1, offy=1);
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  width: 3.75em;
}
time.icon span.day {
  font-size: 1.5em;
  line-height: 1.5em;
  width: 2em;
  border-right: thin solid #febf01;
  border-left: thin solid #febf01;
}
time.icon span.year {
  line-height: 1.4em;
  font-size: 0.6em;
  width: 5em;
  border: thin solid #febf01;
  border-top: none;
}

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}
