.front .two-brick > .panel-row > .region.region-two-brick-left-above, .front .two-50 > .region.region-two-brick-left-above {
  width: 66.666665%;
}
.front .two-brick > .panel-row > .region.region-two-brick-right-above, .front .two-50 > .region.region-two-brick-right-above {
  width: 33.333333%;
}
.front .two-brick > .panel-row > .region.region-two-brick-left-below, .front .two-50 > .region.region-two-brick-left-below {
  width: 40%;
}
.front .two-brick > .panel-row > .region.region-two-brick-right-below, .front .two-50 > .region.region-two-brick-right-below {
  width: 60%;
}

.page-latest .two-brick > .panel-row > .region.region-two-brick-left-above, .page-latest .two-50 > .region.region-two-brick-left-above {
  width: 66.666665%;
}
.page-latest .two-brick > .panel-row > .region.region-two-brick-right-above, .page-latest .two-50 > .region.region-two-brick-right-above {
  width: 33.333333%;
}
