@import "base";

#columns {
  .content-inner,
  .region-inner {
	  padding: 1em;
  }
}

.node-content {
  padding: 1em 0;
  
  figure {
    float: right;
    margin-right: 0.5em;
  }
}

article.node{
  margin: 0.6em 0;
  footer {
    &.submitted {
    }
  }
} 
