@import "base";

#columns {
  .content-inner,
  .region-inner {
	  padding: 1.6em;
  }
  
  .region-highlighted {
    margin-bottom: 1.6em;
    
    .region-inner{
      background: tint($color-orange, 80);
      margin: -1.6em;
    }
  }
}

.node-content {
  padding: 1.5em 0 0.5em;
  
  figure {
    margin-right: 0.5em;
    display: none;
  }
}

article.node{
  margin: 0.6em 0;
  footer {
    &.submitted {
    }
  }
} 

#block-system-navigation {
  width: 100%;
  background: $color-purple;
  color: #fff;
  .block-inner {
    padding: 1em;
  }
  a {
    color: #fff;
  }
}

#primary-menu-bar {
  width: 100%;
  background: $color-pale-red;
}

#secondary-menu-bar {
  width: 100%;
  background: $color-yellow;
}