@import "base";

#block-views-slider-block {
  
  .view-slider {
    width: 56.7em;
    height: 25.9em;
    display: block;
  }
  
  .theme-default .nivoSlider {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    .nivo-caption {
      height: 9em;
      padding: 1em;
      padding-left: 5em;
      
      @include opacity(0.7);
      
      font-family: $font-sans_serif-alt;
      
      h1, h2 {
        font-weight: bold;
        text-shadow: 0.3em 0.3em 0.7em #111;
      }
      
      h1 {
          font-size: 2em;
          margin: 0.2em 0;
      }

      h2 {
        font-size: 1.4em;
        font-weight: bold;
        color: $color-yellow;
      }
      
      p {
        font-size: 1.4em;
        line-height: 1.4em;
        padding: 0;
      }
      
    }
  }
}