@import "../base";
@import "compass/css3/appearance";

/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {

  input.error,
  textarea.error,
  select.error {
    border: 1px solid $color-default-border-highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $color-default-border-highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $color-default-border;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  @include appearance(button);
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}