@import "../color";
/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  position: relative;

  &.with-date-icon {
    padding-left: 3.5em;
  }

  time.icon {
    float: left;
    position: absolute;
    left: 0;
  }
  margin-bottom: 20px;

  &.node-promoted {}

  &.node-sticky {}

  &.node-by-viewer {}

  &.node-teaser {
    time.icon {
      top: 0.4em;
    }
    border-bottom: 0.1em solid #efefef;
  }

  &.node-full {}

  &.odd {}

  &.even {}

  .node-title {
    font-size: 1.8em;
    margin: 0;
    line-height: 1.3em;
  }

  .user-picture {}

  .submitted {

    .username {}

    time {}
  }

  .node-content {}

  ul.links {
    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }

  .field-name-field-tags {
    float: right;

    .field-items {
      @include delimited-list;
    }

    &:before {
      font-family: 'pps-icon';
      font-style: normal;
      speak: none;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      color: $color-link-normal;
      content: "\e023";
    }
  }

}


.preview .node {}


/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}