/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}