@import "../base";

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}


ul.primary {
  border-bottom-color: $color-default-border;
  margin: 20px 0;
  padding: 0 0 0 5px;

  li {
    display: block;
    float: left;
    margin: 0 1px -1px;

    a {
      background-color: $color-default-background-ultralight;
      border-color: $color-default-border;
      margin-right: 1px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 1.5em;
      line-height: 1.5em;

      &:hover,
      &:focus {
        background-color: $color-default-background-light;
        border-color: $color-default-border;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      background-color: $color-content-background;
      border-bottom-color: $color-content-background;
    }
  }
}


ul.secondary {
  border-bottom: 1px solid $color-default-border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}