/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }

  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}