@import "../base";

.pane-panels-mini {
  > .block-inner > .block-content {
    padding: 0;
  }

  &.block {
    margin: 0;
  }
}

.panel-display,
.panel-row {
  overflow: hidden;
}

.pane-title,
.block-title {
  padding: $dim-block-title;
  margin: 0;
}

.region-style-pps {
  height: 100%;
  padding-bottom: 9000em;
  margin-bottom: -9000em;

  &.region-style-pps-neutral {
    background-color: $color-block-background-neutral;

    .pane-title,
    .block-title {
      @include block-title-neutral;
    }
  }

  &.region-style-pps-colored {
    background-color: $color-block-background-colored;

    .pane-title,
    .block-title {
      @include block-title-colored;
    }
  }
}