/* $Id: block-editing.css,v 1.2.2.1 2009/11/05 14:00:50 johnalbin Exp $ */

/*
 * Rollover edit links for blocks
 */

  div.block.with-block-editing
  {
    position: relative;
  }

  div.block.with-block-editing div.edit
  {
    display: none;
    position: absolute;
    left: -120px;
    width: 160px;
    top: 20px;
    z-index: 40;
    border: 1px solid #aa4400;
    padding: 2px;
    font-size: 1em;
    background-color: #fff;
  }

  div.block.with-block-editing:hover div.edit
  {
    display: block;
  }

  div.block.with-block-editing:hover div.edit a:hover
  {
    color: #cc5500;
  }
