/* 
    Document   : pirate2_navigation
    Created on : 14.07.2010, 19:46:40
    Author     : christian
    Description:
        Navigation
*/

#navigation {
    background: #eccc42 url(../images/hnavbg.png) repeat-x 0 0;
    border-bottom: 1px solid #e9ae36;
    overflow: hidden;
}

#navigation.smallnavigation {
    height: 56px;
}

#navigation ul {
    background: url(../images/navline-vert.png) repeat-y 39px 0;
}

#navigation li {
    width: 184px;
    height: auto;
    float: left;
}

#navigation li.navhome {
    width: 39px;
    height: 50px;
}

#navigation li.navakt {
    background: url(../images/hnavico-fernrohr.png) no-repeat 2px 1px;
}

#navigation li.navpos {
    background: url(../images/hnavico-compass.png) no-repeat 2px 1px;
}

#navigation li.navpar {
    background: url(../images/hnavico-steuer.png) no-repeat 2px 1px;
}

#navigation li.navmed {
    background: url(../images/hnavico-flasche.png) no-repeat 2px 1px;
}

#navigation li.navmit {
    background: url(../images/hnavico-hut.png) no-repeat 2px 1px;
}


#navigation li a {
    width: 184px;
    height: 40px;
    display: block;

    padding: 18px 0 0 60px;

    text-align: left;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

#navigation li a:hover {
    color: #863303;
}

#navigation li.navhome a { 
    width: 39px;
    height: 40px;
    margin: 0;
    padding: 0;
    background: transparent url(../images/hnavico_home.png) no-repeat 8px 14px;
}

#navigation li.navhome a:hover {
    width: 39px;
    height: 40px;
    background: url(../images/hnavico_home_h.png) no-repeat 8px 14px;
}

#navigation a#navklap {
    height: 12px;
    background-position: 50% 50%;
    cursor: pointer;
}

#navigation.smallnavigation a#navklap {
    background-image: url(../images/navdown.png);
}

#navigation.smallnavigation a#navklap:hover {
    background-image: url(../images/navdown_h.png);
}

#navigation a#navklap{
    background-image: url(../images/navup.png);
}

#navigation a#navklap:hover {
    background-image: url(../images/navup_h.png);
}

#navigation ul ul{
    background: transparent;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    padding-left: 60px;
}

#navigation ul ul li{
    float: none;
}

#navigation ul ul li a {
    background: url(../images/hnav-subpfeile.png) no-repeat 0 4px;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    text-transform: none;
    letter-spacing: normal;
    width: 115px;
}

#navigation ul ul li a:hover {
    color: #722d18;
    background: url(../images/hnav-subpfeile.png) no-repeat 0 -17px;
}