/***********************************************/
/* piratenpartei - base.css                    */
/***********************************************/

/* @group base */
	html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p,blockquote,fieldset,input {margin: 0; padding: 0;}
	h1,h2,h3,h4,h5,h6,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal;}
	ul,ol { list-style-image:none; list-style-position:outside; list-style-type:none; }
	fieldset,img {border: none;}
	caption,th {text-align: left;}
	table {border-collapse: collapse; border-spacing: 0;}
	body {font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; font-size: 10px; text-align: center; color: #000; margin: 0; padding: 0; background: #d78215;}
	p {font-size: 1.2em; line-height: 1.6em; margin: 0; padding: 0; margin-bottom: 10px; color: #000;}
	p strong { font-weight: bold;}
	p em {font-size: 0.9em;}
	a {color: #000; text-decoration: none;}
	a:link {color: #000; text-decoration: none;}
	a:focus {outline: none;}
	a:hover {color: #FFF;}
	h1 {font-size: 1.8em; font-weight:normal; line-height: 1.4em;}
	h2 {font-size: 1.6em; font-weight:bold; line-height: 1.4em;}
	h3 {font-size: 1.4em; font-weight:normal; line-height: 1.4em;}
	h4 {font-size: 1.2em; font-weight:normal; line-height: 1.4em;}
	h5 {font-size: 1em; font-weight:normal; line-height: 1.4em;}
	h6 {font-size: 1em; font-weight:normal; line-height: 1.4em;}
	ul {margin: 0;padding: 0;}
	img.floatleft, .flleft {float: left;}
	img.floatright, .flright {float: right;}
	#clear, .clear {clear: both;}
	.hr {border: none; margin: 0; width: 960px; height: 1px; overflow: hidden; background: url(../images/hr940.gif) no-repeat center top;}
/* @end */

/* added by SciFi */
	h2#comments-title {margin-top: 20px;}
	ul.comment {padding: 5px; margin-top: 10px;}
	#content .contbody ul.comment li.cotext {border: 1px solid #aaa; padding: 5px; max-width:85%;}
/* end SciFi */

/* @group decor */
	#decortop {width: 100%; height: 20px; background-color: #4c4642; border-bottom: 1px solid #47403c;}
	#decormid {width: 100%; height: auto; background: #eeb50c url(../images/bgmid.jpg) repeat-x center top;}
	#decorfot {width: 100%; height: 124px; background: url(../images/bgfot.jpg) repeat-x center;}
	.wrapper {width: 990px; height: auto; margin: 0 auto; }
/* @end */

/* @group servicenav */
	ul#servicenav {height: 20px; overflow: hidden; margin: 0 auto;}
	ul#servicenav li {float: right; color: #ccc; text-transform: uppercase; letter-spacing: 1px;margin:4px 0 0 12px;}
	ul#servicenav li em.activ {color: #fff;}
	ul#servicenav li a {color: #ccc;}
	ul#servicenav li a:hover {color: #e79928;}
ul#servicenav li a.login, ul#servicenav li a.kontakt, ul#servicenav li a.tellafriend {padding-right:20px;}
/* @end */

/* @group blockconfig */
	.block-config {}
/* @end */


/* @group header */
	#header { width: 990px; height: 116px; margin: 0 auto;}
	div#pplogo {width: 365px; height: 116px; display: block; float: left;}
	div#edit-search-theme-form-1-wrapper { padding: 0; margin: 0; width: 260px; }
	form#search-theme-form {width: 610px; height: 116px; float: left; display: block; background: url(../images/bgship.png) no-repeat 204px 11px;}
	form#search-theme-form input.suchen { width: 80px; height: 20px; text-align: right; display: block; position: relative; left: 260px; top: 35px; background-color: transparent; color: #be6813; font-size: 1.1em; text-transform: uppercase;border-style: none; float: left;}
	form#search-theme-form .suchborder { width: 260px; height: 20px; position: relative; top: 35px; left: 270px; float: left; border: 1px solid #c9792a; background: url(../images/bgsuche.png) repeat; overflow: hidden;}
	form#search-theme-form input.suchtext { background-color: transparent;border-style: none; float: left;padding-top: 2px; color: #be6813; width: 100%; }
/* @end */

/* @group board */
	#boardtop {width: 990px; height: 6px; background: url(../images/bodertop.png) no-repeat center bottom; margin: 0 auto;}
	#boardmid {width: 990px; height: auto; background: url(../images/bodermid.png) repeat-y center; margin: 0 auto;}
	#boardfot {width: 990px; height: 8px; background: url(../images/boderfot.png) no-repeat center top;margin: 0 auto;}
/* @end */

/* @group actionarea*/
	#actionarea { width: 960px; height: 270px; margin: 0 auto; background: url(../images/promobg.png) repeat-x;}
	#actionboard {width: 592px; height: 270px; float: left; margin: 0;}
	#actionbutton {width: 368px; height: 270px; float: left; margin: 0; overflow: hidden;}
	ul#actionbutton  { margin: 0; padding: 0; }
	#actionbutton li {margin: 0; background: url(../images/acbutton_tabut.png) no-repeat left top;}
	#actionbutton li a {width: 368px; height: 90px; display: block; padding: 0; margin: 0;}
	#actionbutton li a:hover {background: url(../images/buthov.png) repeat;}
	#actionbutton li a img {width: 100px; height: 90px; margin-right: 12px; float: left;}
	#actionbutton li a .headone {float: left; font-size: 1.8em; font-weight:normal; line-height: 1.4em; color: #fff; text-transform: uppercase; letter-spacing: 2px; margin-top: 26px; text-shadow: 0 0 5px #FFCC66, 0 0 5px #FFCC66, 0 0 8px #FFCC66; }
	#actionbutton li a .headtwo {float: left; font-size: 1.3em; font-weight:normal; line-height: 1.2em; color: #863303;}
/* @end */

/* @group navigation*/
	#navigation { width: 960px; height: auto; margin: 0 auto; background: #eccc42 url(../images/hnavbg.png) repeat-x 0 top; border-bottom: 1px solid #e9ae36;}
	#navigation .navwrapper {background: url(../images/navline-vert.png) repeat-y 39px top;}
	#navigation ul { width: 960px; height: auto; margin: 0; background: url(../images/navline-vert.png) repeat-y 39px top; }
	#navigation li { width: 184px; height: auto; float: left;}
	#navigation ul#hnavkont li {height: 54px;}
	#navigation li.navhome { width: 39px; height: 50px;}
	#navigation li.navakt { background: url(../images/hnavico-fernrohr.png) no-repeat 2px 1px;}
	#navigation li.navpos {background: url(../images/hnavico-compass.png) no-repeat 2px 1px;}
	#navigation li.navpar { background: url(../images/hnavico-steuer.png) no-repeat 2px 1px;}
	#navigation li.navmed { background: url(../images/hnavico-flasche.png) no-repeat 2px 1px;}
	#navigation li.navmit { background: url(../images/hnavico-hut.png) no-repeat 2px 1px;}
	#navigation li a { width: 184px; height: 40px; display: block;}
	#navigation li.navhome a.link { width: 39px; height: 40px; background: url(../images/hnavico_home.png) no-repeat 8px 14px;}
	#navigation li.navhome a.link:hover { width: 39px; height: 40px; background: url(../images/hnavico_home_h.png) no-repeat 8px 14px;}
	#navigation li a .link { width: 120px; height: 19px; display: block; position: relative; top: 18px; left: 60px; text-align: left; font-size: 1.4em; text-transform: uppercase; letter-spacing: 2px; color: #fff;}
	#navigation li a:hover .link { color: #863303; }
	#navigation ul#hnavkont li.clear, #navigation ul#subnavklapp li.clear { width: 960px; height: 1px; clear: both;}
	#navigation ul#subnavklapp { position: relative; width: 960px;}
	#navigation ul#subnavklapp li {background: none;}
	#navigation ul#subnavklapp ul {padding-bottom: 6px; list-style-type: none; }
	#navigation ul.subnav { width: 124px; height: auto; position: relative; left: 60px; top:2px ;background: none; border: none;}
	#navigation ul.subnav li { width: auto; height: auto; text-align: left; float: none;}
	#navigation ul.subnav li.extern { background: url(../images/hnav-subpfeile.png) no-repeat 106px -38px;}
	#navigation ul.subnav li a { width: 115px; height: 18px; display:block; font-size: 1.2em;color: #fff; padding-left: 7px; background: url(../images/hnav-subpfeile.png) no-repeat left 4px;}
	#navigation ul.subnav li a:hover { color: #722d18; background: url(../images/hnav-subpfeile.png) no-repeat left -17px;}
	#navigation .clear { width: 960px; height: 0px;}
	#navigation a#navklapbut { display:block; width: 39px; height: 12px; display: block; border-style: none; background-color: transparent; cursor: pointer;}
	#navigation a.down { background: transparent url(../images/navdown.png) no-repeat center center;}
	#navigation a.up{ background: transparent url(../images/navup.png) no-repeat center center;}
	#navigation a.down:hover { background: transparent url(../images/navdown_h.png) no-repeat center center;}
	#navigation a.up:hover { background: transparent url(../images/navup_h.png) no-repeat center center;}
/* @end */

/* @group home */
	#content { width: 960px; height: auto; text-align: left; background: #fff url(../images/contbghome.png) repeat-y left top; margin: 0 auto;}
	#content #contcom, #content #contblog { width: 319px; height: auto; float: left; margin-right: 1px;background: url(../images/contbg-grau.png) no-repeat left top; overflow: hidden;}
	#content #contblog { width: 320px; margin-right: 0;}
	#content #contevents { width: 320px; float: left; background: url(../images/contbg-orange.png) no-repeat left top;}
	#content #contcom .kopf, #content #contblog .kopf, #content #contevents .kopf  { width: 320px; height: auto;}
	#content .kopf h1 {display: block; width: 70%; position: relative; top: 7px; left: 12px; font-size: 1.1em;color: #9e9e9e; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 10px; }
	#content div.content h1 { left: 0px; font-weight: bold; }
	#content #contevents .kopf h1 {color: #d2b194; }
	#content .kopf a.goto { float: right; width: 16px; height: 28px; display: block; background: url(../images/contkopf-goto.png) no-repeat left -72px;}
	#content #contevents .kopf a.goto { background: url(../images/contkopf-goto.png) no-repeat left -46px;}
	#content .kopf a.goto:hover { float: right; width: 16px; height: 28px; display: block; background: url(../images/contkopf-goto.png) no-repeat left -18px;}
	#content #contevents .kopf a.goto:hover { background: url(../images/contkopf-goto.png) no-repeat left 8px;}
	#content #contevents .kopf a.rss { background: url(../images/contkopf-rss.png) no-repeat left -74px;}
	#content #contevents .kopf a.rss:hover { background: url(../images/contkopf-rss.png) no-repeat left 8px;}
	#content .kopf a.rss { float: right; width: 22px; height: 28px; display: block; background: url(../images/contkopf-rss.png) no-repeat left -116px;}
	#content .kopf a.rss:hover { float: right; width: 22px; height: 28px; display: block; background: url(../images/contkopf-rss.png) no-repeat left -34px;}

	#content ul li.cotermin {width: 60px; height: 80px; display: block; float: left; text-align: center; background: url(../images/termin-o.png) no-repeat center top; margin-top: 11px;}
	#content ul li.cotermin h4 {color: #fff;}
	#content ul li.cotermin h5 {color: #000; font-size: 1.7em; font-weight: bold; line-height: 1.8em;}
	#content ul li.cotext {width: 240px; height: auto; display: block; float: left;}
	#content ul li.cotext h1 {font-size: 1.4em; line-height: 1.3em; width: 100%;}
	#content ul li.cotext p, #content .contbody p {font-size: 1.2em; color: #555;}
	#content ul li.cotext p strong, #content .contbody p strong {color: #000; font-weight: normal;}
	#content ul li.cogoto {width: 19px; height: 100px; display: block; float: left; margin-top: 6px;}
	#content ul li.cogoto a {width: 19px; height: 100px; display: block; background: url(../images/cont-butevent.png) no-repeat -72px center;}
	#content ul li.cogoto a:hover {background: url(../images/cont-butevent.png) no-repeat -20px center;}
	#content hr.trenn {width: 308px; height: 1px; display: block; clear: both; border: none; background-color: #efefef; margin: 8px 0 8px 5px;}
	#content #contevents ul li.cotermin {width: 60px; height: 80px; display: block; float: left; text-align: center; background: url(../images/termin-g.png) no-repeat center top; margin-top: 11px;}
	#content #contevents ul li.cotermin h4 {color: #fff;}
	#content #contevents ul li.cotermin h5 {color: #555; font-size: 1.6em; font-weight: bold; line-height: 1.8em;}
	#content #contevents ul li.cotext {width: 240px; height: auto; display: block; float: left;}
	#content #contevents ul li.cotext h1 {font-size: 1.4em; line-height: 1.3em;}
	#content #contevents ul li.cotext p {font-size: 1.1em; color: #555;}
	#content #contevents ul li.cogoto {width: 19px; height: 100px; display: block; float: left; margin-top: 6px;}
	#content #contevents ul li.cogoto a {width: 19px; height: 100px; display: block; background: url(../images/cont-butevent.png) no-repeat -48px center;}
	#content #contevents ul li.cogoto a:hover {background: url(../images/cont-butevent.png) no-repeat 4px center;}
	#content #contevents hr.trenn {width: 308px; height: 1px; display: block; clear: both; border: none; background-color: #f6f0e5; margin: 8px 0 8px 5px;}
	#content hr.luft {width: 308px; height: 4px; display: block; clear: both; border: none; margin: 8px 0 8px 5px;}
	#content ul#contbuttons { width: 960px; height: 120px; clear: both;}
	#content ul#contbuttons li { width: auto; height: 120px; float: left; }
	#content ul#contbuttons li.butpirates { width: 40px; height: 120px;}
	#content ul#contbuttons li.butpirates a { width: 40px; height: 120px; display: block; background: url(../images/botbutton_ppinter.png) no-repeat;}
	#content ul#contbuttons li.butpirates a:hover { background: url(../images/botbutton_ppinter_a.png) no-repeat;}

	/* @group home slider */
		.slider-wrapper { width: 592px; height:270px; display: block; float: left; }
		.panel h2.title { margin-bottom: 10px;}
		noscript div { background: #ddd; display: block; float:left; height:270px; margin:0; width:592px; z-index: 20; position: absolute;}
		noscript div p { padding: 20px; font-size: 1.2em; text-align: left;}
		noscript div ol li { padding: 10px 20px; font-size: 1.2em; text-align: left; list-style-type: disc; list-style-position: inside; }
		.coda-slider-wrapper {display: block; float:left; height:270px; margin:0; width:592px;}
		.coda-slider { background: #eee; }
		div.coda-slider:hover { cursor: hand; cursor: pointer; }
		.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px;}
		.coda-slider, .coda-slider .panel { width: 592px; height: 270px;} 
		.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { margin: 0; padding: 0; }
		.coda-nav {position: absolute; z-index: 10;}
		.coda-nav-left a, .coda-nav-right a { width: 20px; height: 270px; background: url(../images/sliderleft_n.png) no-repeat center center; cursor: default; }
		.coda-nav-right a {background: url(../images/sliderright_n.png) no-repeat center center;}
		.coda-nav-right a:hover {background: url(../images/sliderright_h.png) no-repeat center center;}
		.coda-nav-left a:hover {background: url(../images/sliderleft_h.png) no-repeat center center;}
		.coda-slider p.loading { padding: 110px 20px 0 20px; text-align: center; color: #934105; }
		.coda-nav ul { clear: both; display: block; margin: 6px auto; overflow: hidden; text-align: center; }
		.coda-nav ul li { display: block; float: left; height: 12px;  width: 10px; }
		.coda-nav ul li a { display: block; width: 18px; height: 12px; text-decoration: none; background: url(../images/slider_ico_point_n.png) no-repeat center center; }
		.coda-nav ul li a:hover {background: url(../images/slider_ico_point_a.png) no-repeat center center; }
		.coda-nav ul li a.current {background: url(../images/slider_ico_point_h.png) no-repeat center center; }
		.coda-slider { float: left; overflow: hidden; position: relative; height: 270px; width: 592px; top: -270px; left: 0; z-index: 9; }
		.coda-slider .panel { display: block; float: left; height: 270px; }
		.coda-slider .panel-container { position: relative; float: left; background-color: #000; }
		.coda-slider .panel-container p { margin-top: 0px; }
		.coda-nav-left, .coda-nav-right { width: 20px; height:270px; overflow: hidden; position: relative; z-index: 11; }
		.coda-nav-right { left: 572px; z-index: 11; top: -540px; }
		.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none; }
	/* @end */
/* @end */

/* @group content body */
	#content.body { width: 960px; height: auto; text-align: left; background: #fff url(../images/contbgbody.png) repeat-y left top; margin: 0 auto;}
	#content .contbodykopf { width: 700px; height: auto; float: left; background: url(../images/contbg-grau.png) no-repeat left top; overflow: hidden;}
	#content .contbodykopf.detail {background: url(../images/contbg-hgrau.png) no-repeat left top; margin-top: 4px ;}
	#content .contbodykopf.detail h1 {color: #ccc;}
	#content .contsitekopf { width: 260px; height: auto; float: left; background: url(../images/contbg-orange.png) no-repeat left top; overflow: hidden;}
	#content .kopf {height: 28px;}
	#content .contbody { width: 675px; height: auto; float: left; margin: 12px 0 18px 15px; overflow: hidden;}
	#content #contsite { width: 270px; margin-right: 0; float: left;}
	#content .contbodykopf #breadcrumb { color:#9E9E9E; display:block; font-size:1.1em; left:12px; letter-spacing:1px; position:relative; text-transform:uppercase; top:7px; width:100%; }
	#content .contbodykopf #breadcrumb a { color:#9E9E9E; display:inline; }
	#content .contbodykopf #breadcrumb a.home { color:#9E9E9E; display:block; float: left; width: 12px; height: 12px; background: url(../images/ico_breadcrump.png) no-repeat center center;}
	#content .contbody.detail {margin-bottom:12px;}
	#content .contbodykopf #breadcrumb em { padding: 0 4px; }
	#content .contbody ul {width: auto; height: auto;}
	#content .contbody ul li.cotermin {width: 65px; height: 80px; display: block; float: left; text-align: center; background: url(../images/termin_big_o.png) no-repeat left top; margin-top: 6px;}
	#content .contbody.detail ul li.cotermin {width: 65px; height: 80px; background: url(../images/termin-grey.png) no-repeat 4px top; margin: 6px 0 0 0px;}
	#content .contbody ul li.cotext {width: 574px; height: auto; display: block; float: left; margin-top: 6px;}
	#content .contbody ul li.cotext div.title { float: left; }
	#content .contbody ul li.cotext div.author { float: right; font-weight: bold; line-height: 2.3em; }
	#content .contbody ul li.cotext p { text-align: justify; }
	#content .contbody ul li.cogoto {width: 19px; height: 80px; display: block; float: left;}
	#content .contbody ul li.cotermin h4 {color: #fff; padding-right: 15px;}
	#content .contbody ul li.cotermin h5 {color: #555; font-size: 1.75em; font-weight: bold; line-height: 1em; padding-right: 15px;}
	#content .contbody ul li.cotermin h6 {color: #555; font-size: 1.2em; font-weight: normal; line-height: 1.5em; padding-right: 15px;}
	#content .contbody.detail ul li.cotermin h5 {color: #aaa; font-size: 1.7em;}
	#content .contbody hr.trenn {width: 640px; height: 1px; display: block; clear: both; border: none; background-color: #efefef; margin: 2px 0;}
	#content .contbody ul li.cotext h1, #content .contbody h1 {font-size: 1.8em; line-height: 1.3em;}
	#content .contbody ul li.cotext h1 a:hover {color: #c48f57;}
	#content .contbody ul li.cotext span.user { float: right; font: 1em; color: #555; padding-top: 7px;}
	#content .contbody ul li.cotext a.user:hover { color: #c48f57;}
	#content .contbody .cofoleft {float: left; margin: 10px 0 2px 0; height: 16px; line-height: 1.6em;}
	#content .contbody .cofoleft a.comment { background: url(../images/ico_comment_n.png) no-repeat left top; padding: 0 10px 0 18px; color: #8f8f8f;}
	#content .contbody .cofoleft a.forum { background: url(../images/ico_forum_n.png) no-repeat left center; padding: 0 10px 0 22px; color: #8f8f8f;}
	#content .contbody .cofoleft a.comment:hover { background: url(../images/ico_comment_h.png) no-repeat left top; color: #c48f57;}
	#content .contbody .cofoleft a.forum:hover { background: url(../images/ico_forum_h.png) no-repeat left center; color: #c48f57;}
	#content .contbody .coforubrik {float: right; height: 16px; margin: 10px 0 2px 0; background: url(../images/ico_rubrik_n.png) no-repeat left center; padding: 0 0 0 20px;}
	#content .contbody .coforubrik a.linkrubrik { padding: 0 3px 0 3px; color: #8f8f8f;}
	#content .contbody .coforubrik a.linkrubrik:hover { color: #c48f57;}
	#content .contbody .quote, div.forderungen {display: block; width: 572px; height: auto; background-color: #fafafa; border: 1px solid #e3e3e3; margin: 8px 0; padding: 5px;}
	#content .contbody .quote p {padding: 6px 12px;color: #555; font-style: italic;}
	#content .contbody .cotext ul, #content .contbody .cotext ol, #content .contbody .contnorm ul, #content .contbody .contnorm ol {margin: 6px 0 6px 12px;}
	#content .contbody .cotext ul li, #content .contbody .contnorm ul li { font-size:1.2em ; color: #555; line-height: 1.4em; background: url(../images/ico_aufzaehlung.png) no-repeat left 7px;padding-left: 9px; }
	#content .contbody .cotext ol li, #content .contbody .contnorm ol li { font-size:1.2em ; color: #555; line-height: 1.4em; list-style-type: decimal; list-style-position: inside;}	
	#content .contbody .anker { height: 20px; margin: 0;}
	#content .contbody .anker a.atop {background: url(../images/ankertop_n.png) no-repeat left center; padding: 0 10px 0 10px; color: #8f8f8f; }
	#content .contbody .anker a.atop:hover {background: url(../images/ankertop_h.png) no-repeat left top; color:#C48F57;}
	#content .contbody .anker a.atop.left {background-position: left center; float: left; padding: 0 10px 0 10px;}
	#content .contbody .anker a.atop.right {background-position: right center; float: right; }
	#content .contbody .anker a.atop.right:hover {background-position: right center; }
	#content .contbody .contnorm {width: 605px; height: auto; margin: 12px 0 0 30px;}
	#content .contbody .contnorm img {display: block;}
	#content .contbody .contnorm p {margin-bottom: 10px; text-align: justify; display: block;}
	#content .contbody .contnorm .quote, div.forderungen {width: 603px;}
	#content .contbody .contnorm .quote h1, div.forderungen h3 {padding: 6px 12px;color: #000; font-style: normal; margin-top: 0px;}
	#content .contbody .contnorm .quote ul, #content .contbody .contnorm .quote ol, div.forderungen ol, div.forderungen ul {padding: 6px 12px; display: block;}
	#content .contbody .contnorm .quote ol li, div.forderungen ol li {list-style-type: decimal; list-style-position: inside; font-size: 1.2em; color:#555; margin-bottom: 4px;}
	#content .contbody .contnorm .quote p, div.forderungen p {font-style: normal;}
    #content .contbody div.forderungen ul {list-style-type: disc; margin-left: 5px;}

	/* @group site */
		#content #contsite ul.cosubnav {width: 270px; height: auto; margin: 20px 0; }
		#content #contsite ul.cosubnav ul {width: 270px; height: auto; margin: 0; }
		#content #contsite ul.cosubnav li { }
		#content #contsite ul.cosubnav li.aktiv {width: 270px; min-height: 30px; margin: 0; background: url(../images/subnav_bgaktiv.png) no-repeat left top; overflow: visible; font-weight: bold;}
		#content #contsite ul.cosubnav li a { margin-left: 10px; padding-left:20px; display: block; color: #b6a083; height: 24px; font-size: 1.2em; padding-top:7px; border-top: 1px dotted #f2eadf;}
		#content #contsite ul.cosubnav ul li a { margin-left: 10px; padding-left:40px;}
		#content #contsite ul.cosubnav ul ul li a { margin-left: 10px; padding-left:60px;}
		#content #contsite ul.cosubnav ul ul ul li a { margin-left: 10px; padding-left:80px;}
		#content #contsite ul.cosubnav li a:hover { background-color: #f2eadf; }
        #content #contsite div.views-exposed-widget .form-submit { margin:0px; }
        #views-exposed-form-og-search-default { margin-top: 10px; }
        #edit-keys { width: 100px; }
        #content #contsite div.content { margin: 0 20px; }
        #content #contsite div.content ul li { margin-left: 10px; display: block; color: #b6a083; font-size: 12px; padding: 3px 0; }
		
		ul.subactionbut { margin: 0 0 14px 0; }
		ul.subactionbut li { display: block; width: 228px; height: 72px; border: solid 1px #f1e5c4; margin: 10px 0 0 25px;
		background-image: url(../images/subac_bg.png);}
		#contsite ul.subactionbut li a { width: 228px; height: 72px; background: none; display: block;}
		#contsite ul.subactionbut li a:hover {background: url(../images/buthov.png) repeat;}
		ul.subactionbut li a img { width: 64px; height: 73px; border: none; float: left;}
		ul.subactionbut li a .headone {float: left; font-size: 1.3em; font-weight:normal; line-height: 1.3em; color: #704a1e; text-transform: uppercase; letter-spacing: 1px; margin-top: 22px;}
		ul.subactionbut li a .headtwo { color: #ac8a60; float: left; font-size: 1.1em; font-weight:normal; line-height: 1.3em; }
	/* @end */

	/* @group Formular */
		label, select, input[type=checkbox], input[type=radio], input[type=button], input[type=submit] { cursor : pointer; }
		.formgen form { line-height: 120%; margin-bottom: 18px; font-size: 1.2em;}
		.formgen .formblock { margin:  0 0 4px 0; padding: 3px 0; text-align: left; }
		.formgen .formtextfield { width: 400px; height: 120px; border: 1px solid #F2EADF; background-color: #fff; padding: 4px;}
		.formgen .formtext, .formgen .formpassword { width: 296px; padding:4px 0 3px 3px; font-size: 1em; background-color: #FFF; border: 1px solid #F2EADF; }
		.formgen input:focus, .formgen input:hover,	.formgen select:focus, .formgen select:hover, .formgen textarea:focus, .formgen textarea:hover { border-color: #F2EADF; background-color: #fbf8f2; }
		.formgen label { width: 150px; clear: left; float: left; height: 20px; font-weight: normal; color: #555; font-size: 1em; padding-top: 4px; }
		.formgen label.formradio { padding-left: 6px; }

		.formblockwrapper { padding: 3px 0; }
		.formgen .formselect { width: 300px; background-color: #FFF; color: #000; border: 1px solid #F2EADF; padding: 2px; }
		.formgen .formsubmit { border: none; color: #c48f57; margin-left: 150px; padding: 0; padding-right: 8px; background-color: transparent; }
		.formgen .formsubmit:hover { border: none; color: #000; padding: 0; padding-right: 8px; background-color: transparent; }
		.formgen legend { color: #FFFFFF; font-size: 0.1em; font-weight:normal; line-height: 0.01em;}
		.formgen .fieldset { margin-bottom: 10px; }
		.formgen .formerror {  border-bottom-width: 1px; color: #de2c2d; }
		.formgen .formcaptcha { border: 1px solid #F2EADF; vertical-align: top; float: left; margin-bottom: 10px; }
		.formgen .formreq { color: #006633;}
		#content .contbody .contnorm .forminfo { width: 603px; background-color: #f4d8cd; margin-bottom: 15px; padding: 0; font-weight: bold; text-align: center; border: 2px solid #cc4b68; font-size: 1.2em; color: #bb2643; }
		#content .contbody .contnorm .forminfo p { padding: 15px; margin: 0; color: #000;}
		#edit-custom-ldap-employeeType-wrapper { color: red; }
		#edit-custom-ldap-employeeType-wrapper label { font-weight: bold; }
	/* @end */	
/* @end */


/* @group footer */
	#fooleft { width: 460px; height: 32px; float: left; margin-top: 7px;}
	#foocenter { width: 258px; height: 32px; float: left; margin-top: 7px;}
	#fooright {width: 260px; height: 38px; float: left; margin-top: 4px;}
	#fooleft a.imgcc {width: 32px; height: 32px; float: left; display: block; background: url(../images/fotccico.png) no-repeat 15px top; padding-left: 15px; margin-right: 6px;}
	#fooleft a.imgcc:hover {background: url(../images/fotccico.png) no-repeat 15px bottom;}
	#fooleft p {float: left; text-align: left; color: #984508; line-height: 1.3em; font-size: 1em; margin-top: 3px;}
	#fooleft p a {color: #984508; text-decoration: underline;}
	#fooleft p a:hover {color: #550100;}
	#fooright li {float: right;}
	#fooright li a.medico {width: 37px; height: 38px; display: block;background-image: url(../images/fotsocicons.png);}
	#fooright li a.medico.rss { background-position: left top;}
	#fooright li a.medico.rss:hover { background-position: left bottom;}
	#fooright li a.medico.pnetz { background-position: 259px top;}
	#fooright li a.medico.pnetz:hover { background-position:259px bottom;}
	#fooright li a.medico.flick { background-position: 37px top;}
	#fooright li a.medico.flick:hover{ background-position: 37px bottom;}
	#fooright li a.medico.mysp { background-position: 74px top;}
	#fooright li a.medico.mysp:hover { background-position: 74px bottom;}
	#fooright li a.medico.yout { background-position: 111px top;}
	#fooright li a.medico.yout:hover { background-position: 111px bottom;}
	#fooright li a.medico.twit { background-position: 148px top;}
	#fooright li a.medico.twit:hover { background-position: 148px bottom;}
	#fooright li a.medico.face { background-position: 185px top;}
	#fooright li a.medico.face:hover { background-position: 185px bottom;}
	#fooright li a.medico.ident { background-position: 222px top;}
	#fooright li a.medico.ident:hover { background-position: 222px bottom;}
	#fooright li a.medico.rss .tip, #fooright li a.medico.flick .tip, #fooright li a.medico.mysp .tip, #fooright li a.medico.yout .tip, #fooright li a.medico.twit .tip, #fooright li a.medico.ident .tip, #fooright li a.medico.face .tip {display:none;}
	#fooright li a.medico.rss:hover .tip, #fooright li a.medico.flick:hover .tip, #fooright li a.medico.mysp:hover .tip, #fooright li a.medico.yout:hover .tip, #fooright li a.medico.twit:hover .tip, #fooright li a.medico.ident:hover .tip, #fooright li a.medico.face:hover .tip { display: block; z-index: 100; position: relative; top: 30px; left: -34px; width: 102px; height: 42px; padding:0; text-align: center; color: #FFF; background: url(../images/tooltip.png) no-repeat center center;}
	#fooright li a.medico.pnetz .tip, #fooright li a.medico.flick .tip, #fooright li a.medico.mysp .tip, #fooright li a.medico.yout .tip, #fooright li a.medico.twit .tip, #fooright li a.medico.ident .tip, #fooright li a.medico.face .tip {display:none;}
	#fooright li a.medico.pnetz:hover .tip, #fooright li a.medico.flick:hover .tip, #fooright li a.medico.mysp:hover .tip, #fooright li a.medico.yout:hover .tip, #fooright li a.medico.twit:hover .tip, #fooright li a.medico.ident:hover .tip, #fooright li a.medico.face:hover .tip { display: block; z-index: 100; position: relative; top: 30px; left: -34px; width: 102px; height: 42px; padding:0; text-align: center; color: #FFF; background: url(../images/tooltip.png) no-repeat center center;}
	span.tip b { display: block; padding-top:18px; font-weight: normal; line-height:1.5em;}
/* @end */


/* @group orange footer */
#content ul.international {
padding: 12px 19px 0 19px;
text-align: center;
}

#content ul.international li {
width: 124px !important;
height: 12px !important;
margin-bottom: 6px;
text-align: left;
}

#content ul.international li a {
color: #984508;;
position: relative;
top: -2px;
font-size: 12px;
}
#content ul.international li a:hover {
color: #550100;
}
.flag {
float:left;
width:16px;
height:11px;
margin-right: 2px;
background:url(../images/flagsspritesmall.png) no-repeat;
}

.flag.ad{background-position:0 0}.flag.ae{background-position:0 -11px}.flag.af{background-position:0 -22px}.flag.ag{background-position:0 -33px}.flag.ai{background-position:0 -44px}.flag.al{background-position:0 -55px}.flag.am{background-position:0 -66px}.flag.an{background-position:0 -77px}.flag.ao{background-position:0 -88px}.flag.ar{background-position:0 -99px}.flag.as{background-position:0 -110px}.flag.at{background-position:0 -121px}.flag.au{background-position:0 -132px}.flag.aw{background-position:0 -143px}.flag.ax{background-position:0 -154px}.flag.az{background-position:0 -165px}.flag.ba{background-position:0 -176px}.flag.bb{background-position:0 -187px}.flag.bd{background-position:0 -198px}.flag.be{background-position:0 -209px}.flag.bf{background-position:0 -220px}.flag.bg{background-position:0 -231px}.flag.bh{background-position:0 -242px}.flag.bi{background-position:0 -253px}.flag.bj{background-position:0 -264px}.flag.bm{background-position:0 -275px}.flag.bn{background-position:0 -286px}.flag.bo{background-position:0 -297px}.flag.br{background-position:0 -308px}.flag.bs{background-position:0 -319px}.flag.bt{background-position:0 -330px}.flag.bv{background-position:0 -341px}.flag.bw{background-position:0 -352px}.flag.by{background-position:0 -363px}.flag.bz{background-position:0 -374px}.flag.ca{background-position:0 -385px}.flag.catalonia{background-position:0 -396px}.flag.cc{background-position:0 -407px}.flag.cd{background-position:0 -418px}.flag.cf{background-position:0 -429px}.flag.cg{background-position:0 -440px}.flag.ch{background-position:0 -451px}.flag.ci{background-position:0 -462px}.flag.ck{background-position:0 -473px}.flag.cl{background-position:0 -484px}.flag.cm{background-position:0 -495px}.flag.cn{background-position:0 -506px}.flag.co{background-position:0 -517px}.flag.cu{background-position:0 -528px}.flag.cr{background-position:0 -539px}.flag.cs{background-position:0 -550px}.flag.cv{background-position:0 -561px}.flag.cx{background-position:0 -572px}.flag.cy{background-position:-16px 0}.flag.cz{background-position:-16px -11px}.flag.de{background-position:-16px -22px}.flag.dj{background-position:-16px -33px}.flag.dk{background-position:-16px -44px}.flag.dm{background-position:-16px -55px}.flag.do{background-position:-16px -66px}.flag.dz{background-position:-16px -77px}.flag.ec{background-position:-16px -88px}.flag.ee{background-position:-16px -99px}.flag.eg{background-position:-16px -110px}.flag.eh{background-position:-16px -121px}.flag.england{background-position:-16px -132px}.flag.er{background-position:-16px -143px}.flag.es{background-position:-16px -154px}.flag.et{background-position:-16px -165px}.flag.eu{background-position:-16px -176px}.flag.fam{background-position:-16px -187px}.flag.fi{background-position:-16px -198px}.flag.fj{background-position:-16px -209px}.flag.fk{background-position:-16px -220px}.flag.fm{background-position:-16px -231px}.flag.fo{background-position:-16px -242px}.flag.fr{background-position:-16px -253px}.flag.ga{background-position:-16px -264px}.flag.gb{background-position:-16px -275px}.flag.gd{background-position:-16px -286px}.flag.ge{background-position:-16px -297px}.flag.gf{background-position:-16px -308px}.flag.gh{background-position:-16px -319px}.flag.gi{background-position:-16px -330px}.flag.gl{background-position:-16px -341px}.flag.gm{background-position:-16px -352px}.flag.gn{background-position:-16px -363px}.flag.gp{background-position:-16px -374px}.flag.gq{background-position:-16px -385px}.flag.gr{background-position:-16px -396px}.flag.gs{background-position:-16px -407px}.flag.gt{background-position:-16px -418px}.flag.gu{background-position:-16px -429px}.flag.gw{background-position:-16px -440px}.flag.gy{background-position:-16px -451px}.flag.hk{background-position:-16px -462px}.flag.hm{background-position:-16px -473px}.flag.hn{background-position:-16px -484px}.flag.hr{background-position:-16px -495px}.flag.ht{background-position:-16px -506px}.flag.hu{background-position:-16px -517px}.flag.id{background-position:-16px -528px}.flag.ie{background-position:-16px -539px}.flag.il{background-position:-16px -550px}.flag.in{background-position:-16px -561px}.flag.io{background-position:-16px -572px}.flag.iq{background-position:-32px 0}.flag.ir{background-position:-32px -11px}.flag.is{background-position:-32px -22px}.flag.it{background-position:-32px -33px}.flag.jm{background-position:-32px -44px}.flag.jo{background-position:-32px -55px}.flag.jp{background-position:-32px -66px}.flag.ke{background-position:-32px -77px}.flag.kg{background-position:-32px -88px}.flag.kh{background-position:-32px -99px}.flag.ki{background-position:-32px -110px}.flag.km{background-position:-32px -121px}.flag.kn{background-position:-32px -132px}.flag.kp{background-position:-32px -143px}.flag.kr{background-position:-32px -154px}.flag.kw{background-position:-32px -165px}.flag.ky{background-position:-32px -176px}.flag.kz{background-position:-32px -187px}.flag.la{background-position:-32px -198px}.flag.lb{background-position:-32px -209px}.flag.lc{background-position:-32px -220px}.flag.li{background-position:-32px -231px}.flag.lr{background-position:-32px -242px}.flag.lk{background-position:-32px -253px}.flag.ls{background-position:-32px -264px}.flag.lt{background-position:-32px -275px}.flag.lu{background-position:-32px -286px}.flag.lv{background-position:-32px -297px}.flag.ly{background-position:-32px -308px}.flag.ma{background-position:-32px -319px}.flag.mc{background-position:-32px -330px}.flag.md{background-position:-32px -341px}.flag.me{background-position:-32px -352px}.flag.mg{background-position:-32px -363px}.flag.mh{background-position:-32px -374px}.flag.mk{background-position:-32px -385px}.flag.ml{background-position:-32px -396px}.flag.mm{background-position:-32px -407px}.flag.mn{background-position:-32px -418px}.flag.mo{background-position:-32px -429px}.flag.mp{background-position:-32px -440px}.flag.mq{background-position:-32px -451px}.flag.mr{background-position:-32px -462px}.flag.ms{background-position:-32px -473px}.flag.mt{background-position:-32px -484px}.flag.mu{background-position:-32px -495px}.flag.mv{background-position:-32px -506px}.flag.mw{background-position:-32px -517px}.flag.mx{background-position:-32px -528px}.flag.my{background-position:-32px -539px}.flag.mz{background-position:-32px -550px}.flag.na{background-position:-32px -561px}.flag.nc{background-position:-32px -572px}.flag.ne{background-position:-48px 0}.flag.nf{background-position:-48px -11px}.flag.ng{background-position:-48px -22px}.flag.ni{background-position:-48px -33px}.flag.nl{background-position:-48px -44px}.flag.no{background-position:-48px -55px}.flag.np{background-position:-48px -66px}.flag.nr{background-position:-48px -77px}.flag.nu{background-position:-48px -88px}.flag.nz{background-position:-48px -99px}.flag.om{background-position:-48px -110px}.flag.pa{background-position:-48px -121px}.flag.pe{background-position:-48px -132px}.flag.pf{background-position:-48px -143px}.flag.pg{background-position:-48px -154px}.flag.ph{background-position:-48px -165px}.flag.pk{background-position:-48px -176px}.flag.pl{background-position:-48px -187px}.flag.pm{background-position:-48px -198px}.flag.pn{background-position:-48px -209px}.flag.pr{background-position:-48px -220px}.flag.ps{background-position:-48px -231px}.flag.pt{background-position:-48px -242px}.flag.pw{background-position:-48px -253px}.flag.py{background-position:-48px -264px}.flag.qa{background-position:-48px -275px}.flag.re{background-position:-48px -286px}.flag.ro{background-position:-48px -297px}.flag.rs{background-position:-48px -308px}.flag.ru{background-position:-48px -319px}.flag.rw{background-position:-48px -330px}.flag.sa{background-position:-48px -341px}.flag.sb{background-position:-48px -352px}.flag.sc{background-position:-48px -363px}.flag.scotland{background-position:-48px -374px}.flag.sd{background-position:-48px -385px}.flag.se{background-position:-48px -396px}.flag.sg{background-position:-48px -407px}.flag.sh{background-position:-48px -418px}.flag.si{background-position:-48px -429px}.flag.sj{background-position:-48px -440px}.flag.sk{background-position:-48px -451px}.flag.sl{background-position:-48px -462px}.flag.sm{background-position:-48px -473px}.flag.sn{background-position:-48px -484px}.flag.so{background-position:-48px -495px}.flag.sr{background-position:-48px -506px}.flag.st{background-position:-48px -517px}.flag.sv{background-position:-48px -528px}.flag.sy{background-position:-48px -539px}.flag.sz{background-position:-48px -550px}.flag.tc{background-position:-48px -561px}.flag.td{background-position:-48px -572px}.flag.tf{background-position:-64px 0}.flag.tg{background-position:-64px -11px}.flag.th{background-position:-64px -22px}.flag.tj{background-position:-64px -33px}.flag.tk{background-position:-64px -44px}.flag.tl{background-position:-64px -55px}.flag.tm{background-position:-64px -66px}.flag.tn{background-position:-64px -77px}.flag.to{background-position:-64px -88px}.flag.tr{background-position:-64px -99px}.flag.tt{background-position:-64px -110px}.flag.tv{background-position:-64px -121px}.flag.tw{background-position:-64px -132px}.flag.tz{background-position:-64px -143px}.flag.ua{background-position:-64px -154px}.flag.ug{background-position:-64px -165px}.flag.um{background-position:-64px -176px}.flag.us{background-position:-64px -187px}.flag.uy{background-position:-64px -198px}.flag.uz{background-position:-64px -209px}.flag.va{background-position:-64px -220px}.flag.vc{background-position:-64px -231px}.flag.ve{background-position:-64px -242px}.flag.vg{background-position:-64px -253px}.flag.vi{background-position:-64px -264px}.flag.vn{background-position:-64px -275px}.flag.vu{background-position:-64px -286px}.flag.wales{background-position:-64px -297px}.flag.wf{background-position:-64px -308px}.flag.ws{background-position:-64px -319px}.flag.ye{background-position:-64px -330px}.flag.yt{background-position:-64px -341px}.flag.za{background-position:-64px -352px}.flag.zm{background-position:-64px -363px}.flag.zw{background-position:-64px -374px}
/* @end */

