/* 
    Document   : pirate2_layout
    Created on : 14.07.2010, 19:32:09
    Author     : christian
    Description:
        Layout and element placing
*/

/* 
   TODO consolidate all layout related stuff in this file
*/

body {
    background: #eeb50c url(../images/bgmid.jpg) repeat-x 50% 20px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

#header {
    background: url(../images/bgship.png) no-repeat 569px 11px;
}

#header #logo {
    background: url(../images/logo/de.png) no-repeat 0px 0px;
    height: 116px;
    width: 456px;
    display: block;
}

#boardtop {
    width: 990px;
    height: 6px;
    background: url(../images/bodertop.png) no-repeat 50% 100%;
    margin: 0 auto;
}

#boardmid {
    width: 990px;
    background: url(../images/bodermid.png) repeat-y 50% 0;
    margin: 0 auto;
}

#boardfot {
    width: 990px;
    height: 8px;
    background: url(../images/boderfot.png) no-repeat 50% 0;
    margin: 0 auto;
}

#decorfot {
    width: 100%;
    height: 124px;
    background: url(../images/bgfot.jpg) repeat-x center;
}

#fooleft {
    width: 618px;
    height: 32px;
    float: left;
    margin-top: 7px;
}
#fooleft a.imgcc {width: 32px; height: 32px; float: left; display: block; background: url(../images/fotccico.png) no-repeat 15px top; padding-left: 15px; margin-right: 6px;}
#fooleft a.imgcc:hover {background: url(../images/fotccico.png) no-repeat 15px bottom;}
#fooleft p {float: left; text-align: left; color: #984508; line-height: 1.3em; font-size: 1em; margin-top: 3px;}
#fooleft p a {color: #984508; text-decoration: underline;}
#fooleft p a:hover {color: #550100;}

/*#foocenter { width: 258px; height: 32px; float: left; margin-top: 7px;}*/

#fooright {
    width: 362px;
    height: 38px;
    float: left;
    margin-top: 4px;
}

#fooright li {
    float: right;
}

#fooright li a.medico {
    width: 37px;
    height: 38px;
    display: block;
    background-image: url(../images/fotsocicons.png);
}

#fooright li a.medico.rss { background-position: 0 0;}
#fooright li a.medico.rss:hover { background-position: 0 100%;}

#fooright li a.medico.pnetz { background-position: 259px 0;}
#fooright li a.medico.pnetz:hover { background-position:259px 100%;}

#fooright li a.medico.flick { background-position: 37px 0;}
#fooright li a.medico.flick:hover{ background-position: 37px 100%;}

#fooright li a.medico.mysp { background-position: 74px 0;}
#fooright li a.medico.mysp:hover { background-position: 74px 100%;}

#fooright li a.medico.yout { background-position: 111px 0;}
#fooright li a.medico.yout:hover { background-position: 111px 100%;}

#fooright li a.medico.twit { background-position: 148px 0;}
#fooright li a.medico.twit:hover { background-position: 148px 100%;}

#fooright li a.medico.face { background-position: 185px 0;}
#fooright li a.medico.face:hover { background-position: 185px 100%;}

#fooright li a.medico.ident { background-position: 222px 0;}
#fooright li a.medico.ident:hover { background-position: 222px 100%;}


#fooright li a.medico.pnetz .tip,
#fooright li a.medico.rss .tip,
#fooright li a.medico.flick .tip,
#fooright li a.medico.mysp .tip,
#fooright li a.medico.yout .tip,
#fooright li a.medico.twit .tip,
#fooright li a.medico.ident .tip,
#fooright li a.medico.face .tip {
    display:none;
}


#fooright li a.medico.pnetz:hover .tip,
#fooright li a.medico.rss:hover .tip,
#fooright li a.medico.flick:hover .tip,
#fooright li a.medico.mysp:hover .tip,
#fooright li a.medico.yout:hover .tip,
#fooright li a.medico.twit:hover .tip,
#fooright li a.medico.ident:hover .tip,
#fooright li a.medico.face:hover .tip {
    display: block;
    z-index: 100;
    position: relative;
    top: 30px;
    left: -34px;
    width: 102px;
    height: 42px;
    padding:0;
    text-align: center;
    color: #FFF;
    background: url(../images/tooltip.png) no-repeat center center;
}

span.tip b {
    display: block;
    padding-top:18px;
    font-weight: normal;
    line-height:1.5em;
}


.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#decorfot .wrapper {
   width: 990px;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after, .wrapper:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix, .wrapper {
    display: inline-block;
}

* html .clearfix, * html .wrapper {
    height: 1%;
}

.clearfix, .wrapper {
    display: block;
}

/* TODO not shure if this belong here
 * other option could be base.css
*/
.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
    float: left;
    position: absolute;
    top: -10000px;
    left: -10000px;

}