/* 
    Document   : servicenavigation
    Created on : 14.07.2010, 21:11:20
    Author     : christian
    Description:
        Servicenavigation placed at the top of the page
*/
.admin-menu {
    padding-top: 20px;
}

.admin-menu #servicenav {
    top: 30px;
}

body.admin-menu {
    background-position: 50% 50px;
}

#servicenav {
    background-color: rgb(76, 70, 66);
    border-bottom: 1px solid rgb(71, 64, 60);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
}
#servicenav ul {
    display:inline;
    float: left;
    position: relative;
    margin: 0;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
}
#servicenav ul li {
    float: left;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 4px 2px 2px 12px;
    padding: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
#servicenav a {
    color: rgb(204, 204, 204);
    text-decoration: none;
}
#servicenav .language li {
    float: right;
}
#servicenavleft {
    width: 536px;
}
#servicenavright {
    width: 380px;
}


#servicenav li a {
    color: #cccccc;
    padding-bottom: 7px;
}

#servicenav li a:hover {
    color: #e79928;
}

#servicenav li a.login, #servicenav li a.logout {
    padding-left: 12px;
    background: url(../images/kopfico.png) no-repeat 0 -1px;
}

#servicenav li a.tellafriend {
    padding-left: 20px;
    background: url(../images/kopfico.png) no-repeat 0 -21px;
}

#servicenav li a.kontakt {
    padding-left: 17px;
    background: url(../images/kopfico.png) no-repeat 0 -42px;
}

